<section class="posts-list">
  <div class="container">
    <ul class="posts-list__items row g-5">
      <li class="col-lg-4">{% include "@components/post/post.twig" %}</li>
      <li class="col-lg-4">{% include "@components/post/post.twig" %}</li>
      <li class="col-lg-4">{% include "@components/post/post.twig" %}</li>
    </ul>
  </div>
</section>
