<section class="players-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-10 m-auto">
        <h1 class="h1 mb-6">Soupiska 2023/2024</h1>
        <div class="players-section__inner">
          <div class="players-section__box">
            <h2 class="h2">Útočníci</h2>
            <ul class="players-section__list">
              <li>Jakub Mrózek</li>
              <li>Pavel Lasota</li>
              <li>Filip Kočí</li>
              <li>Jakub Onderka</li>
              <li>Karel Mičulka</li>
              <li>Jakub Mrózek</li>
              <li>Pavel Lasota</li>
              <li>Filip Kočí</li>
              <li>Jakub Onderka</li>
              <li>Karel Mičulka</li>
              <li>Jakub Mrózek</li>
              <li>Pavel Lasota</li>
              <li>Filip Kočí</li>
              <li>Jakub Onderka</li>
              <li>Karel Mičulka</li>
            </ul>
          </div>
          <div class="players-section__box">
            <h2 class="h2">Obránci</h2>
            <ul class="players-section__list">
              <li>Jakub Mrózek</li>
              <li>Pavel Lasota</li>
              <li>Filip Kočí</li>
              <li>Jakub Onderka</li>
              <li>Karel Mičulka</li>
              <li>Jakub Mrózek</li>
              <li>Pavel Lasota</li>
              <li>Filip Kočí</li>
              <li>Jakub Onderka</li>
              <li>Karel Mičulka</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
