<section class="place-section">
  <div class="row g-0">
    <div class="col-lg-4">
      <a href="#" class="place-section__item">
        <div class="place-section__img">
          <img src="images/content/6.webp" alt="" />
        </div>
        <div class="place-section__info">
          <ul class="place-section__links">
            <li>
              <div>{% include "@images/soccer-ball.svg" %}</div>
            </li>
          </ul>
          <div class="place-section__title">Fotbalové hřiště</div>
        </div>
      </a>
    </div>
    <div class="col-lg-4">
      <a href="#" class="place-section__item">
        <div class="place-section__img">
          <img src="images/content/1.webp" alt="" />
        </div>
        <div class="place-section__info">
          <ul class="place-section__links">
            <li>
              <div>{% include "@images/volley-ball.svg" %}</div>
            </li>
            <li>
              <div>{% include "@images/tennis.svg" %}</div>
            </li>
          </ul>
          <div class="place-section__title">Multifunkční areál</div>
        </div>
      </a>
    </div>
    <div class="col-lg-4">
      <a href="#" class="place-section__item">
        <div class="place-section__img">
          <img src="images/content/5.webp" alt="" />
        </div>
        <div class="place-section__info">
          <ul class="place-section__links">
            <li>
              <div>{% include "@images/bodybuilding.svg" %}</div>
            </li>
            <li>
              <div>{% include "@images/table-tenis.svg" %}</div>
            </li>
            <li>
              <div>{% include "@images/hsport-flusk.svg" %}</div>
            </li>
          </ul>
          <div class="place-section__title">Sál a tělocvična</div>
        </div>
      </a>
    </div>
  </div>
</section>
