.place-section {
  position: relative;
  &__img {
    aspect-ratio: 320/180;
  }
  &__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: var(--color-light);
  }
  &__item {
    display: block;
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;

    overflow: hidden;

    &:hover {
      img {
        transform: scale(1.05);
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 60px;
      right: 60px;
      background-image: url("../images/ico/arrow.svg");
      width: 40px;
      height: 40px;
      background-size: contain;
      background-repeat: no-repeat;
      @media (max-width: 1600px) {
        display: none;
      }
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 70%;
      aspect-ratio: 640/520;
      opacity: 1;
      z-index: 5;
      background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.524913) 100%
      );
    }
  }
  &__info {
    position: absolute;
    bottom: 60px;
    left: 60px;
    max-width: 90%;
    z-index: 6;
    @include media-breakpoint-down(xxl) {
      left: 40px;
      bottom: 40px;
      width: 100%;
    }
    svg g {
      fill: #fff;
    }
  }
  &__links {
    margin-left: -8px;
    margin-right: -8px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    @include media-breakpoint-down(xxl) {
      margin-bottom: 8px;
    }

    li {
      padding: 0 8px;
    }
    a {
      width: 40px;
      height: 40px;
      display: block;
      @include media-breakpoint-down(xxl) {
        width: 32px;
        height: 32px;
      }
      svg {
      }
    }
  }
}
