<section class="departmentSection">
  <div class="container">
    <div class="juniors-posts">
      <div class="juniors-posts__main">
        <img src="images/content/1.png" alt="" />
        <div class="link link--red">Rozhovory</div>
        <div class="juniors-posts__main-info">
          <div class="juniors-posts__date">14. 10. 2023, 17:30</div>
          <h1>Věřím, že zůstaneme pohromadě, přeje si kapitán David Starec</h1>
        </div>
      </div>
    </div>
    <div class="departmentSectionBoard">
      <ul class="departmentSectionBoard__cols">
        <li class="departmentSectionBoard__col">
          <h2 class="h2 mb-4">Poslední zápas</h2>
          <div class="departmentSectionBoard__col-content">
            <div class="scoreboard__box">
              <div class="scoreboard__item">
                <div class="scoreboard__img">
                  <img
                    src="images/content/club/1.png"
                    loading="lazy"
                    alt="logo"
                  />
                </div>
                <div class="scoreboard__content">
                  <div class="scoreboard__date">19. KOLO, Krajská liga</div>
                  <div class="scoreboard__info">
                    <div class="scoreboard__team">
                      <span> HC Lev Benešov </span>
                      <span>HC Spartak Žebrák</span>
                    </div>
                    <a href="#" class="scoreboard__result win"> 4:3 </a>
                  </div>
                  <ul class="scoreboard__links">
                    <li>
                      <a href="#" class="link link--red">Report utkání</a>
                    </li>
                    <li>
                      <a href="#" class="link link--red">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <a href="#" class="departmentSectionBoard__col-link">
            Všechny zápasy
          </a>
        </li>
        <li class="departmentSectionBoard__col">
          <h2 class="h2 mb-4">Tabulka soutěže</h2>
          <div class="departmentSectionBoard__col-content">
            <div class="o-content">
              <table>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>TJ Sokol Slavojnovice</td>
                    <td>20</td>
                    <td>52</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>TJ Sokol Vejprnice</td>
                    <td>20</td>
                    <td>52</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>TJ Sokol Slavojnovice B</td>
                    <td>20</td>
                    <td>52</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <a href="#" class="departmentSectionBoard__col-link">
            Kompletní tabulka
          </a>
        </li>
        <li class="departmentSectionBoard__col">
          <h2 class="h2 mb-4">Příští zápas</h2>
          <div class="departmentSectionBoard__col-content">
            <div class="scoreboard__box">
              <div class="scoreboard__item">
                <div class="scoreboard__img">
                  <img
                    src="images/content/club/3.png"
                    loading="lazy"
                    alt="logo"
                  />
                </div>
                <div class="scoreboard__content">
                  <div class="scoreboard__date">19. KOLO, Krajská liga</div>
                  <div class="scoreboard__info">
                    <div class="scoreboard__team">
                      <span>SK Černošice </span>
                      <span> HC Lev Benešov </span>
                    </div>
                  </div>
                  <a href="#" class="scoreboard__result mb-4 d-block">
                    st 19. 4. 17:00
                  </a>
                  <ul class="scoreboard__links">
                    <li>
                      <a href="#" class="link link--red">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <a href="#" class="departmentSectionBoard__col-link">
            Všechny zápasy
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
