<div class="bts-popup" role="alert">
  <div class="bts-popup-container">
    <div class="popup-content">
      <a href="#" class="popup-img">
        <img src="images/content/cover.webp" alt=""
      /></a>

      <a href="#0" class="bts-popup-close img-replace btn btn-transparent"
        >Nezobrazovat</a
      >
    </div>
  </div>
</div>
