<section class="juniors-matches">
  <div class="container">
    <div class="juniors-matches__wrapper">
      <div class="juniors-matches__header">
        <h5 class="h2">Zápasy</h5>
        <ul class="nav nav-tabs row g-1">
          <li class="col-auto">
            <a
              data-toggle="tab"
              data-category="jun"
              class="active"
              href="#jun-tab"
            >
              Junioři
            </a>
          </li>
          <li class="col-auto">
            <a data-toggle="tab" data-category="dorost" href="#dorost-tab">
              Dorost
            </a>
          </li>

          <li class="col-auto">
            <a data-toggle="tab" data-category="starsi" href="#starsi-tab">
              Starší žáci
            </a>
          </li>
          <li class="col-auto">
            <a data-toggle="tab" data-category="mladsi" href="#mladsi-tab">
              Mladší žáci
            </a>
          </li>
          <li class="col-auto">
            <a data-toggle="tab" data-category="trida" href="#trida-tab">
              4. 3. a 2. třída
            </a>
          </li>
        </ul>
        <a href="#" class="link link--red">Všechny zápasy</a>
      </div>
      <div class="tab-content">
        <div class="tab-pane is active" id="jun-tab">
          <div class="scoreboard__inner d-flex flex-grow-1 js-scoreboard">
            <div class="scoreboard__box">
              <div class="scoreboard__item">
                <div class="scoreboard__img">
                  <img
                    src="images/content/club/1.png"
                    loading="lazy"
                    alt="logo"
                  />
                </div>
                <div class="scoreboard__content">
                  <div class="scoreboard__date">19. KOLO, Krajská liga</div>
                  <div class="scoreboard__info">
                    <div class="scoreboard__team">
                      <span> HC Lev Benešov </span>
                      <span>HC Spartak Žebrák</span>
                    </div>
                    <a href="#" class="scoreboard__result win"> 4:3 </a>
                  </div>
                  <ul class="scoreboard__links">
                    <li>
                      <a href="#" class="link link--red">Report utkání</a>
                    </li>
                    <li>
                      <a href="#" class="link link--red">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="scoreboard__box">
              <div class="scoreboard__item">
                <div class="scoreboard__img">
                  <img
                    src="images/content/club/3.png"
                    loading="lazy"
                    alt="logo"
                  />
                </div>
                <div class="scoreboard__content">
                  <div class="scoreboard__date">19. KOLO, Krajská liga</div>
                  <div class="scoreboard__info">
                    <div class="scoreboard__team">
                      <span> HC Lev Benešov </span>
                      <span>HC Spartak Žebrák</span>
                    </div>
                    <a href="#" class="scoreboard__result"> so 15. 4. 16:30 </a>
                  </div>
                  <ul class="scoreboard__links">
                    <li>
                      <a href="#" class="link link--red">Preview</a>
                    </li>
                    <li>
                      <a href="#" class="link link--red">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="scoreboard__box">
              <div class="scoreboard__item">
                <div class="scoreboard__img">
                  <img
                    src="images/content/club/2.png"
                    loading="lazy"
                    alt="logo"
                  />
                </div>
                <div class="scoreboard__content">
                  <div class="scoreboard__date">19. KOLO, Krajská liga</div>
                  <div class="scoreboard__info">
                    <div class="scoreboard__team">
                      <span> HC Lev Benešov </span>
                      <span>HC Spartak Žebrák</span>
                    </div>
                    <a href="#" class="scoreboard__result"> so 15. 4. 16:30 </a>
                  </div>
                  <ul class="scoreboard__links">
                    <li>
                      <a href="#" class="link link--red">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="scoreboard__box">
              <div class="scoreboard__item">
                <div class="scoreboard__img">
                  <img
                    src="images/content/club/1.png"
                    loading="lazy"
                    alt="logo"
                  />
                </div>
                <div class="scoreboard__content">
                  <div class="scoreboard__date">19. KOLO, Krajská liga</div>
                  <div class="scoreboard__info">
                    <div class="scoreboard__team">
                      <span> HC Lev Benešov </span>
                      <span>HC Spartak Žebrák</span>
                    </div>
                    <a href="#" class="scoreboard__result win"> 4:3 </a>
                  </div>
                  <ul class="scoreboard__links">
                    <li>
                      <a href="#" class="link link--red">Report utkání</a>
                    </li>
                    <li>
                      <a href="#" class="link link--red">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="scoreboard__box">
              <div class="scoreboard__item">
                <div class="scoreboard__img">
                  <img
                    src="images/content/club/3.png"
                    loading="lazy"
                    alt="logo"
                  />
                </div>
                <div class="scoreboard__content">
                  <div class="scoreboard__date">19. KOLO, Krajská liga</div>
                  <div class="scoreboard__info">
                    <div class="scoreboard__team">
                      <span> HC Lev Benešov </span>
                      <span>HC Spartak Žebrák</span>
                    </div>
                    <a href="#" class="scoreboard__result"> so 15. 4. 16:30 </a>
                  </div>
                  <ul class="scoreboard__links">
                    <li>
                      <a href="#" class="link link--red">Preview</a>
                    </li>
                    <li>
                      <a href="#" class="link link--red">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="scoreboard__box">
              <div class="scoreboard__item">
                <div class="scoreboard__img">
                  <img
                    src="images/content/club/2.png"
                    loading="lazy"
                    alt="logo"
                  />
                </div>
                <div class="scoreboard__content">
                  <div class="scoreboard__date">19. KOLO, Krajská liga</div>
                  <div class="scoreboard__info">
                    <div class="scoreboard__team">
                      <span> HC Lev Benešov </span>
                      <span>HC Spartak Žebrák</span>
                    </div>
                    <a href="#" class="scoreboard__result"> so 15. 4. 16:30 </a>
                  </div>
                  <ul class="scoreboard__links">
                    <li>
                      <a href="#" class="link link--red">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="dorost-tab">2</div>
        <div class="tab-pane fade" id="starsi-tab">3</div>
        <div class="tab-pane fade" id="mladsi-tab">
          <div class="scoreboard__inner d-flex flex-grow-1 js-scoreboard">
            <div class="scoreboard__box">
              <div class="scoreboard__item">
                <div class="scoreboard__img">
                  <img
                    src="images/content/club/1.png"
                    loading="lazy"
                    alt="logo"
                  />
                </div>
                <div class="scoreboard__content">
                  <div class="scoreboard__date">19. KOLO, Krajská liga</div>
                  <div class="scoreboard__info">
                    <div class="scoreboard__team">
                      <span> HC Lev Benešov </span>
                      <span>HC Spartak Žebrák</span>
                    </div>
                    <a href="#" class="scoreboard__result win"> 4:3 </a>
                  </div>
                  <ul class="scoreboard__links">
                    <li>
                      <a href="#" class="link link--red">Report utkání</a>
                    </li>
                    <li>
                      <a href="#" class="link link--red">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="scoreboard__box">
              <div class="scoreboard__item">
                <div class="scoreboard__img">
                  <img
                    src="images/content/club/3.png"
                    loading="lazy"
                    alt="logo"
                  />
                </div>
                <div class="scoreboard__content">
                  <div class="scoreboard__date">19. KOLO, Krajská liga</div>
                  <div class="scoreboard__info">
                    <div class="scoreboard__team">
                      <span> HC Lev Benešov </span>
                      <span>HC Spartak Žebrák</span>
                    </div>
                    <a href="#" class="scoreboard__result"> so 15. 4. 16:30 </a>
                  </div>
                  <ul class="scoreboard__links">
                    <li>
                      <a href="#" class="link link--red">Preview</a>
                    </li>
                    <li>
                      <a href="#" class="link link--red">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="scoreboard__box">
              <div class="scoreboard__item">
                <div class="scoreboard__img">
                  <img
                    src="images/content/club/2.png"
                    loading="lazy"
                    alt="logo"
                  />
                </div>
                <div class="scoreboard__content">
                  <div class="scoreboard__date">19. KOLO, Krajská liga</div>
                  <div class="scoreboard__info">
                    <div class="scoreboard__team">
                      <span> HC Lev Benešov </span>
                      <span>HC Spartak Žebrák</span>
                    </div>
                    <a href="#" class="scoreboard__result"> so 15. 4. 16:30 </a>
                  </div>
                  <ul class="scoreboard__links">
                    <li>
                      <a href="#" class="link link--red">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="scoreboard__box">
              <div class="scoreboard__item">
                <div class="scoreboard__img">
                  <img
                    src="images/content/club/1.png"
                    loading="lazy"
                    alt="logo"
                  />
                </div>
                <div class="scoreboard__content">
                  <div class="scoreboard__date">19. KOLO, Krajská liga</div>
                  <div class="scoreboard__info">
                    <div class="scoreboard__team">
                      <span> HC Lev Benešov </span>
                      <span>HC Spartak Žebrák</span>
                    </div>
                    <a href="#" class="scoreboard__result win"> 4:3 </a>
                  </div>
                  <ul class="scoreboard__links">
                    <li>
                      <a href="#" class="link link--red">Report utkání</a>
                    </li>
                    <li>
                      <a href="#" class="link link--red">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="scoreboard__box">
              <div class="scoreboard__item">
                <div class="scoreboard__img">
                  <img
                    src="images/content/club/3.png"
                    loading="lazy"
                    alt="logo"
                  />
                </div>
                <div class="scoreboard__content">
                  <div class="scoreboard__date">19. KOLO, Krajská liga</div>
                  <div class="scoreboard__info">
                    <div class="scoreboard__team">
                      <span> HC Lev Benešov </span>
                      <span>HC Spartak Žebrák</span>
                    </div>
                    <a href="#" class="scoreboard__result"> so 15. 4. 16:30 </a>
                  </div>
                  <ul class="scoreboard__links">
                    <li>
                      <a href="#" class="link link--red">Preview</a>
                    </li>
                    <li>
                      <a href="#" class="link link--red">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="scoreboard__box">
              <div class="scoreboard__item">
                <div class="scoreboard__img">
                  <img
                    src="images/content/club/2.png"
                    loading="lazy"
                    alt="logo"
                  />
                </div>
                <div class="scoreboard__content">
                  <div class="scoreboard__date">19. KOLO, Krajská liga</div>
                  <div class="scoreboard__info">
                    <div class="scoreboard__team">
                      <span> HC Lev Benešov </span>
                      <span>HC Spartak Žebrák</span>
                    </div>
                    <a href="#" class="scoreboard__result"> so 15. 4. 16:30 </a>
                  </div>
                  <ul class="scoreboard__links">
                    <li>
                      <a href="#" class="link link--red">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="trida-tab">
          <div class="scoreboard__inner d-flex flex-grow-1 js-scoreboard">
            <div class="scoreboard__box">
              <div class="scoreboard__item">
                <div class="scoreboard__img">
                  <img
                    src="images/content/club/1.png"
                    loading="lazy"
                    alt="logo"
                  />
                </div>
                <div class="scoreboard__content">
                  <div class="scoreboard__date">19. KOLO, Krajská liga</div>
                  <div class="scoreboard__info">
                    <div class="scoreboard__team">
                      <span> HC Lev Benešov </span>
                      <span>HC Spartak Žebrák</span>
                    </div>
                    <a href="#" class="scoreboard__result win"> 4:3 </a>
                  </div>
                  <ul class="scoreboard__links">
                    <li>
                      <a href="#" class="link link--red">Report utkání</a>
                    </li>
                    <li>
                      <a href="#" class="link link--red">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="scoreboard__box">
              <div class="scoreboard__item">
                <div class="scoreboard__img">
                  <img
                    src="images/content/club/3.png"
                    loading="lazy"
                    alt="logo"
                  />
                </div>
                <div class="scoreboard__content">
                  <div class="scoreboard__date">19. KOLO, Krajská liga</div>
                  <div class="scoreboard__info">
                    <div class="scoreboard__team">
                      <span> HC Lev Benešov </span>
                      <span>HC Spartak Žebrák</span>
                    </div>
                    <a href="#" class="scoreboard__result"> so 15. 4. 16:30 </a>
                  </div>
                  <ul class="scoreboard__links">
                    <li>
                      <a href="#" class="link link--red">Preview</a>
                    </li>
                    <li>
                      <a href="#" class="link link--red">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="scoreboard__box">
              <div class="scoreboard__item">
                <div class="scoreboard__img">
                  <img
                    src="images/content/club/2.png"
                    loading="lazy"
                    alt="logo"
                  />
                </div>
                <div class="scoreboard__content">
                  <div class="scoreboard__date">19. KOLO, Krajská liga</div>
                  <div class="scoreboard__info">
                    <div class="scoreboard__team">
                      <span> HC Lev Benešov </span>
                      <span>HC Spartak Žebrák</span>
                    </div>
                    <a href="#" class="scoreboard__result"> so 15. 4. 16:30 </a>
                  </div>
                  <ul class="scoreboard__links">
                    <li>
                      <a href="#" class="link link--red">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="scoreboard__box">
              <div class="scoreboard__item">
                <div class="scoreboard__img">
                  <img
                    src="images/content/club/1.png"
                    loading="lazy"
                    alt="logo"
                  />
                </div>
                <div class="scoreboard__content">
                  <div class="scoreboard__date">19. KOLO, Krajská liga</div>
                  <div class="scoreboard__info">
                    <div class="scoreboard__team">
                      <span> HC Lev Benešov </span>
                      <span>HC Spartak Žebrák</span>
                    </div>
                    <a href="#" class="scoreboard__result win"> 4:3 </a>
                  </div>
                  <ul class="scoreboard__links">
                    <li>
                      <a href="#" class="link link--red">Report utkání</a>
                    </li>
                    <li>
                      <a href="#" class="link link--red">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="scoreboard__box">
              <div class="scoreboard__item">
                <div class="scoreboard__img">
                  <img
                    src="images/content/club/3.png"
                    loading="lazy"
                    alt="logo"
                  />
                </div>
                <div class="scoreboard__content">
                  <div class="scoreboard__date">19. KOLO, Krajská liga</div>
                  <div class="scoreboard__info">
                    <div class="scoreboard__team">
                      <span> HC Lev Benešov </span>
                      <span>HC Spartak Žebrák</span>
                    </div>
                    <a href="#" class="scoreboard__result"> so 15. 4. 16:30 </a>
                  </div>
                  <ul class="scoreboard__links">
                    <li>
                      <a href="#" class="link link--red">Preview</a>
                    </li>
                    <li>
                      <a href="#" class="link link--red">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="scoreboard__box">
              <div class="scoreboard__item">
                <div class="scoreboard__img">
                  <img
                    src="images/content/club/2.png"
                    loading="lazy"
                    alt="logo"
                  />
                </div>
                <div class="scoreboard__content">
                  <div class="scoreboard__date">19. KOLO, Krajská liga</div>
                  <div class="scoreboard__info">
                    <div class="scoreboard__team">
                      <span> HC Lev Benešov </span>
                      <span>HC Spartak Žebrák</span>
                    </div>
                    <a href="#" class="scoreboard__result"> so 15. 4. 16:30 </a>
                  </div>
                  <ul class="scoreboard__links">
                    <li>
                      <a href="#" class="link link--red">Onlajn</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
