.o-content {
  img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 40px auto;
    @include media-breakpoint-down(lg) {
      margin: 24px auto;
    }
  }

  q {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    padding-left: 32px;
    margin-bottom: 40px;
    max-width: 740px;

    color: rgba(0, 17, 15, 1);
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 24px;
    }
    &::before {
      content: "";
      width: 8px;
      height: 100%;
      background-color: var(--color-red);
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  ul {
    color: #00110f;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    margin: 0px 0 24px;
    > li {
      position: relative;
      padding-left: 24px;
      &::before {
        content: "";
        background-color: var(--color-red);
        position: absolute;
        top: 8px;
        left: 0;
        width: 8px;
        height: 8px;
      }
      > ul {
        margin: 16px 0 0;
        > li {
          &::before {
            border-radius: 50%;
          }
        }
      }
    }
  }
  ol {
    color: #00110f;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;

    margin-bottom: 32px;
    counter-reset: item;

    > li {
      counter-increment: item;
      position: relative;
      padding-left: 24px;
      &::before {
        content: counter(item) ".";
        color: var(--color-red);
        font-weight: 700;
        position: absolute;
        top: 0;
        left: 0;
      }
      > ol {
        margin: 16px 0 0;
        > li {
          &::before {
            content: counter(item) ".";
          }
        }
      }
    }
  }
  p {
    margin-bottom: 32px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 24px;
      font-size: 16px;
    }
  }
  p,
  ul,
  ol,
  li {
    font-family: "Inter", sans-serif;
  }
  h1 {
    margin-bottom: 40px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 24px;
    }
  }
  h2 {
    margin-bottom: 20px;
    margin-top: 40px;
    @include media-breakpoint-down(lg) {
      margin-top: 32px;
    }
  }
  h3 {
    margin-bottom: 20px;
    margin-top: 40px;
    @include media-breakpoint-down(lg) {
      margin-top: 32px;
    }
  }
  h5,
  h6 {
    margin-bottom: 10px;
  }
  .perex {
    margin-bottom: 40px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 24px;
    }
  }
  &::after {
    display: table;
    clear: both;
    content: "";
  }
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
}
p {
  color: rgba(0, 17, 15, 1);
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
}
.p2 {
  font-size: 14px;
}

.h1,
.o-content h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  @include media-breakpoint-down(lg) {
    font-size: 40px;
    line-height: normal;
  }
}
.h2,
.o-content h2 {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-dark);
  @include media-breakpoint-down(lg) {
    font-size: 28px;
    line-height: normal;
  }
}
.h3,
.o-content h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  @include media-breakpoint-down(lg) {
    font-size: 22px;
    line-height: normal;
  }
}
.h4,
.o-content h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}
.h5,
.o-content h5 {
  font-size: 18px;
  font-weight: 700;
}
.h6,
.o-content h6 {
  font-size: 16px;
  font-weight: 700;
}

.perex {
  color: rgba(0, 17, 15, 1);
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  @include media-breakpoint-down(lg) {
    font-size: 20px;
    line-height: 140%;
  }
}
img.img-content {
  padding-right: 32px;
  float: left;
  margin-bottom: 32px;
  max-width: 50%;
  width: 100%;
  margin-top: 0;
  @include media-breakpoint-down(lg) {
    float: none;
    max-width: 100%;
    width: 100% !important;
    padding-right: 0;
  }
}
