.pagination {
  margin-left: -4px;
  margin-right: -4px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  li {
    padding: 0 4px;
    margin-bottom: 8px;
  }

  a {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background: rgba(#d70000, 0.25);
      color: var(--color-red);
    }
  }
  .page-item.active .page-link {
    background-color: var(--color-red);
    border-color: var(--color-red);
    color: var(--color-light);
  }

  .page-link {
    color: var(--color-red);
    border-radius: 4px !important;
    border-color: var(--color-red);
  }
}
