.departments {
  position: relative;

  padding-bottom: 64px;
  @include media-breakpoint-down(lg) {
    padding-bottom: 40px;
  }
  &-list {
    flex-grow: 1;
    background: var(--color-light);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0px 12px 34px rgba(0, 0, 0, 0.06),
      0px 1px 7px rgba(0, 0, 0, 0.05);
    @include media-breakpoint-down(xl) {
      padding-top: 32px;
    }
    li {
      padding-bottom: 32px;
      padding-top: 32px;
      max-width: 168px;
      width: 100%;
      background-color: var(--color-light);
      &:hover {
        background-color: var(--color-blood);
        color: var(--color-light);
        transform: scale(1.05);
        svg g,
        svg path {
          fill: var(--color-light);
        }
        @include media-breakpoint-down(xl) {
          background-color: transparent;
          transform: scale(1);
        }
      }
      &:last-child {
        border: none;
        @include media-breakpoint-down(xl) {
          margin-bottom: 0;
        }
      }
      @include media-breakpoint-down(xl) {
        padding-left: 8px;
        padding-right: 8px;
        border-right: 0;
        padding-top: 0;
      }
    }
    &__item {
      text-align: center;
      padding: 0 12px;
      display: block;
      text-decoration-color: transparent;
      border-right: 1px solid rgba(#d70000, 0.1);
      @include media-breakpoint-down(xl) {
        border: 1px solid rgba(#d70000, 0.1);
        height: 100%;
        padding-top: 20px;
        padding-bottom: 16px;
        min-height: 122px;
      }
      &:hover {
        background-color: var(--color-blood);
      }
    }
    &__icon {
      margin: 0 auto 12px;
      width: 40px;
      height: 40px;
    }
  }
}
.departments-list__icon--karate {
  width: 100%;

  svg {
    width: 100%;
    margin-top: -16px;
  }
}
