<section class="departments">
  <div class="container">
    <ul class="departments-list">
      <li class=" ">
        <a href="#" class="departments-list__item">
          <div class="departments-list__icon">
            {% include "@images/soccer-ball.svg" %}
          </div>
          <div class="p2">Fotbal</div>
        </a>
      </li>
      <li class=" ">
        <a href="#" class="departments-list__item">
          <div class="departments-list__icon">
            {% include "@images/volley-ball.svg" %}
          </div>
          <div class="p2">Volejbal</div>
        </a>
      </li>
      <li class=" ">
        <a href="#" class="departments-list__item">
          <div class="departments-list__icon">
            {% include "@images/bodybuilding.svg" %}
          </div>
          <div class="p2">Powerlifting a kulturistika</div>
        </a>
      </li>
      <li class=" ">
        <a href="#" class="departments-list__item">
          <div class="departments-list__icon">
            {% include "@images/darts.svg" %}
          </div>
          <div class="p2">Šipky</div>
        </a>
      </li>
      <li class=" ">
        <a href="#" class="departments-list__item">
          <div class="departments-list__icon">
            {% include "@images/map.svg" %}
          </div>
          <div class="p2">Turistika</div>
        </a>
      </li>
      <li class=" ">
        <a href="#" class="departments-list__item">
          <div class="departments-list__icon">
            {% include "@images/table-tenis.svg" %}
          </div>
          <div class="p2">Stolní tenis</div>
        </a>
      </li>
      <li class=" ">
        <a href="#" class="departments-list__item">
          <div class="departments-list__icon">
            {% include "@images/hokey.svg" %}
          </div>
          <div class="p2">Lední hokej</div>
        </a>
      </li>
      <li class=" ">
        <a href="#" class="departments-list__item">
          <div class="departments-list__icon">
            {% include "@images/hsport-flusk.svg" %}
          </div>
          <div class="p2">ASPV / ZTV</div>
        </a>
      </li>
      <li class=" ">
        <a href="#" class="departments-list__item">
          <div class="departments-list__icon departments-list__icon--karate">
            {% include "@images/karate.svg" %}
          </div>
          <div class="p2">Karate</div>
        </a>
      </li>
    </ul>
  </div>
</section>
