<section class="departments">
  <div class="container">
    <ul class="departments-list">
      <li class=" ">
        <a href="#" class="departments-list__item">
          <div class="departments-list__icon">
            <img src="images/ico/soccer-ball.svg" alt="" />
          </div>
          <div class="p2">Fotbal</div>
        </a>
      </li>
      <li class=" ">
        <a href="#" class="departments-list__item">
          <div class="departments-list__icon">
            <img src="images/ico/volley-ball.svg" alt="" />
          </div>
          <div class="p2">Volejbal</div>
        </a>
      </li>
      <li class=" ">
        <a href="#" class="departments-list__item">
          <div class="departments-list__icon">
            <img src="images/ico/bodybuilding.svg" alt="" />
          </div>
          <div class="p2">Powerlifting a kulturistika</div>
        </a>
      </li>
      <li class=" ">
        <a href="#" class="departments-list__item">
          <div class="departments-list__icon">
            <img src="images/ico/darts.svg" alt="" />
          </div>
          <div class="p2">Šipky</div>
        </a>
      </li>
      <li class=" ">
        <a href="#" class="departments-list__item">
          <div class="departments-list__icon">
            <img src="images/ico/map.svg" alt="" />
          </div>
          <div class="p2">Turistika</div>
        </a>
      </li>
      <li class=" ">
        <a href="#" class="departments-list__item">
          <div class="departments-list__icon">
            <img src="images/ico/table-tenis.svg" alt="" />
          </div>
          <div class="p2">Stolní tenis</div>
        </a>
      </li>
      <li class=" ">
        <a href="#" class="departments-list__item">
          <div class="departments-list__icon">
            <img src="images/ico/hokey.svg" alt="" />
          </div>
          <div class="p2">Lední hokej</div>
        </a>
      </li>
      <li class=" ">
        <a href="#" class="departments-list__item">
          <div class="departments-list__icon">
            <img src="images/ico/hsport-flusk.svg" alt="" />
          </div>
          <div class="p2">ASPV / ZTV</div>
        </a>
      </li>
      <li class=" ">
        <a href="#" class="departments-list__item">
          <div class="departments-list__icon">
            <img src="images/ico/tennis.svg" alt="" />
          </div>
          <div class="p2">Tenis</div>
        </a>
      </li>
    </ul>
  </div>
</section>
