<section class="partners-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-10 m-auto">
        <h1 class="h1 mb-6">Partneři</h1>
        <h2 class="h2 mb-2">Generální partneři</h2>
        <ul class="row justify-content-center g-6 mb-10">
          <li class="col-lg-4 col-md-6">
            <a href="#" class="w-100">
              <img
                class="w-100"
                class="w-100"
                src="https://via.placeholder.com/392x240"
                loading="lazy"
                alt=""
              />
            </a>
          </li>
          <li class="col-lg-4 col-md-6">
            <a href="#" class="w-100">
              <img
                class="w-100"
                src="https://via.placeholder.com/392x240"
                loading="lazy"
                alt=""
              />
            </a>
          </li>
          <li class="col-lg-4 col-md-6">
            <a href="#" class="w-100">
              <img
                class="w-100"
                src="https://via.placeholder.com/392x240"
                loading="lazy"
                alt=""
              />
            </a>
          </li>
        </ul>
        <h2 class="h2 mb-2">Partneři</h2>
        <ul class="row g-6 mb-10">
          <li class="col-6 col-md-4 col-lg-2">
            <a href="#" class="w-100">
              <img
                class="w-100"
                src="https://via.placeholder.com/184x120"
                loading="lazy"
                alt=""
              />
            </a>
          </li>
          <li class="col-6 col-md-4 col-lg-2">
            <a href="#" class="w-100">
              <img
                class="w-100"
                src="https://via.placeholder.com/184x120"
                loading="lazy"
                alt=""
              />
            </a>
          </li>
          <li class="col-6 col-md-4 col-lg-2">
            <a href="#" class="w-100">
              <img
                class="w-100"
                src="https://via.placeholder.com/184x120"
                loading="lazy"
                alt=""
              />
            </a>
          </li>
          <li class="col-6 col-md-4 col-lg-2">
            <a href="#" class="w-100">
              <img
                class="w-100"
                src="https://via.placeholder.com/184x120"
                loading="lazy"
                alt=""
              />
            </a>
          </li>
          <li class="col-6 col-md-4 col-lg-2">
            <a href="#" class="w-100">
              <img
                class="w-100"
                src="https://via.placeholder.com/184x120"
                loading="lazy"
                alt=""
              />
            </a>
          </li>
          <li class="col-6 col-md-4 col-lg-2">
            <a href="#" class="w-100">
              <img
                class="w-100"
                src="https://via.placeholder.com/184x120"
                loading="lazy"
                alt=""
              />
            </a>
          </li>
          <li class="col-6 col-md-4 col-lg-2">
            <a href="#" class="w-100">
              <img
                class="w-100"
                src="https://via.placeholder.com/184x120"
                loading="lazy"
                alt=""
              />
            </a>
          </li>
          <li class="col-6 col-md-4 col-lg-2">
            <a href="#" class="w-100">
              <img
                class="w-100"
                src="https://via.placeholder.com/184x120"
                loading="lazy"
                alt=""
              />
            </a>
          </li>
          <li class="col-6 col-md-4 col-lg-2">
            <a href="#" class="w-100">
              <img
                class="w-100"
                src="https://via.placeholder.com/184x120"
                loading="lazy"
                alt=""
              />
            </a>
          </li>
          <li class="col-6 col-md-4 col-lg-2">
            <a href="#" class="w-100">
              <img
                class="w-100"
                src="https://via.placeholder.com/184x120"
                loading="lazy"
                alt=""
              />
            </a>
          </li>
          <li class="col-6 col-md-4 col-lg-2">
            <a href="#" class="w-100">
              <img
                class="w-100"
                src="https://via.placeholder.com/184x120"
                loading="lazy"
                alt=""
              />
            </a>
          </li>
          <li class="col-6 col-md-4 col-lg-2">
            <a href="#" class="w-100">
              <img
                class="w-100"
                src="https://via.placeholder.com/184x120"
                loading="lazy"
                alt=""
              />
            </a>
          </li>
          <li class="col-6 col-md-4 col-lg-2">
            <a href="#" class="w-100">
              <img
                class="w-100"
                src="https://via.placeholder.com/184x120"
                loading="lazy"
                alt=""
              />
            </a>
          </li>
          <li class="col-6 col-md-4 col-lg-2">
            <a href="#" class="w-100">
              <img
                class="w-100"
                src="https://via.placeholder.com/184x120"
                loading="lazy"
                alt=""
              />
            </a>
          </li>
          <li class="col-6 col-md-4 col-lg-2">
            <a href="#" class="w-100">
              <img
                class="w-100"
                src="https://via.placeholder.com/184x120"
                loading="lazy"
                alt=""
              />
            </a>
          </li>
          <li class="col-6 col-md-4 col-lg-2">
            <a href="#" class="w-100">
              <img
                class="w-100"
                src="https://via.placeholder.com/184x120"
                loading="lazy"
                alt=""
              />
            </a>
          </li>
          <li class="col-6 col-md-4 col-lg-2">
            <a href="#" class="w-100">
              <img
                class="w-100"
                src="https://via.placeholder.com/184x120"
                loading="lazy"
                alt=""
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
