<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo" href="/">
        <img src="images/ico/logo.svg" loading="lazy" alt="" />
      </a>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#" class="nav-link"> Aktuality </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> Oddíly </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> Sportoviště </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> Dokumenty </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> O nás </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> Partneři </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> Kontakt </a>
          </li>
        </ul>
      </nav>
      <a class="link link--red" href="#">Rezervace</a>
      <button class="c-header__opener js-header__opener" type="button">
        <span></span>
      </button>
    </div>
  </div>
</header>
