<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header-club">
        <a class="header__logo" href="/">
          <img src="images/content/tj-klub-2.png" loading="lazy" alt="" />
        </a>
        <!-- <div class="header-club__logo">
          {% include "@images/darts.svg" %}
          <span> Šipky </span>
        </div> -->
      </div>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#" class="nav-link"> Soupiska </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> Tabulka </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> Zápasy </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> Partneři </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> Kontakt </a>
          </li>
        </ul>
      </nav>
      <div class="header-club__right">
        <ul class="header-social">
          <li>
            <a href="#" target="_blank">
              {% include "@images/facebook.svg" %}
            </a>
          </li>
        </ul>
        <label class="o-select header-section__label">
          <select class="js-select">
            <option>Ostatní sporty</option>
            <option value="">Fotbal</option>
            <option value="">Volejbal</option>
            <option value="">Powerlifting a kulturistika</option>
            <option value="">Šipky</option>
            <option>Turistika</option>
            <option>Stolní tenis</option>
            <option>Lední hokej</option>
            <option>ASPV / ZTV</option>
            <option>Tenis</option>
          </select>
        </label>
      </div>
      <button class="c-header__opener js-header__opener" type="button">
        <span></span>
      </button>
    </div>
  </div>
</header>
