<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo" href="/">
        <img src="images/content/tj-logo.png" loading="lazy" alt="" />
      </a>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#" class="nav-link"> Aktuality </a>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="oddily"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Oddíly
            </a>
            <ul class="dropdown-menu" aria-labelledby="navstevniky">
              <li>
                <a class="dropdown-item" href="#">polozka polozka polozka 1</a>
              </li>
              <li><a class="dropdown-item" href="#">polozka 2</a></li>
              <li><a class="dropdown-item" href="#">polozka 3</a></li>
              <li><a class="dropdown-item" href="#">polozka 3</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> Sportoviště </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> Dokumenty </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> O nás </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> Partneři </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> Kontakt </a>
          </li>
        </ul>
      </nav>
      <a class="link link--red" href="#">Rezervace</a>
      <button class="c-header__opener js-header__opener" type="button">
        <span></span>
      </button>
    </div>
  </div>
</header>
