.juniors-posts__main {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  aspect-ratio: 1420/571;
  position: relative;
  @include media-breakpoint-down(lg) {
    aspect-ratio: 461/271;
    margin-bottom: 40px;
  }
  &:hover {
    h1 {
      text-decoration-color: inherit;
    }
  }
  &-info {
    position: absolute;
    bottom: 64px;
    padding-left: 64px;
    padding-right: 64px;
    @include media-breakpoint-down(lg) {
      padding-left: 16px;
      padding-right: 16px;
      position: relative;
      bottom: auto;
    }
    h1 {
      font-size: 48px;
      font-weight: 600;
      line-height: 52px;
      margin-top: 20px;
      text-decoration: underline;
      text-decoration-color: transparent;
      @include media-breakpoint-down(lg) {
        font-size: 32px;
        line-height: normal;
        margin-top: 12px;
      }
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include media-breakpoint-down(lg) {
      margin-bottom: 18px;
    }
  }
  .link {
    top: 64px;
    left: 64px;
    @include media-breakpoint-down(lg) {
      top: 16px;
      left: 16px;
    }
  }
}

.juniors-posts {
  margin-bottom: 80px;
  a {
    text-decoration-color: transparent;
    &:hover {
      text-decoration-color: inherit;
    }
  }
  &__img {
    position: relative;
    width: 100%;
    display: block;
    aspect-ratio: 461/271;
    margin-bottom: 18px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .h3 {
    margin-top: 12px;
    display: block;
  }
  &__item {
    .link {
      left: 16px;
      bottom: 16px;
    }
  }
  .link {
    position: absolute;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
  }
  &__date {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: var(--color-red);
  }
}


