<section class="juniors-posts">
  <div class="container">
    <a href="#" class="juniors-posts__main">
      <img src="images/content/1.png" alt="" />
      <div class="link link--red">Rozhovory</div>
      <div class="juniors-posts__main-info">
        <div class="juniors-posts__date">14. 10. 2023, 17:30</div>
        <h1>Věřím, že zůstaneme pohromadě, přeje si kapitán David Starec</h1>
      </div>
    </a>
    <div class="row g-lg-5 g-10">
      <div class="col-lg-4">
        <div class="juniors-posts__item">
          <a href="#" class="juniors-posts__img">
            <img src="images/content/2.png" alt="" />
            <div class="link link--red">Rozhovory</div>
          </a>
          <div class="juniors-posts__date">14. 10. 2023, 17:30</div>
          <a href="#" class="h3">
            Věřím, že zůstaneme pohromadě, přeje si kapitán David Starec
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="juniors-posts__item">
          <a href="#" class="juniors-posts__img">
            <img src="images/content/3.png" alt="" />
            <div class="link link--red">Muži</div>
          </a>
          <div class="juniors-posts__date">14. 10. 2023, 17:30</div>
          <a href="#" class="h3">Jsem rád, že se k hokeji budu moci vrátit</a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="juniors-posts__item">
          <a href="#" class="juniors-posts__img">
            <img src="images/content/2.png" alt="" />
            <div class="link link--red">Muži</div>
          </a>
          <div class="juniors-posts__date">14. 10. 2023, 17:30</div>
          <a href="#" class="h3">
            Věřím, že zůstaneme pohromadě, přeje si kapitán David Starec
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
