<section class="matches-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-10 m-auto">
        <h1 class="h1 mb-6">PŘEHLED ZÁPASŮ</h1>
        <div class="matches-section__inner">
          <div class="matches__item">
            <div class="matches__team">
              <h4 class="h4">TJ Baník Příbram</h4>
              <div class="matches__team-logo">
                <img
                  src="images/content/club/1.png"
                  loading="lazy"
                  alt="logo"
                />
              </div>
            </div>
            <a href="#" class="matches__info">so 15. 4. 16:30</a>
            <div class="matches__team">
              <div class="matches__team-logo">
                <img
                  src="images/content/club/3.png"
                  loading="lazy"
                  alt="logo"
                />
              </div>
              <h4 class="h4">TJ Sokol Vejprnice volejbal</h4>
            </div>
          </div>
          <div class="matches__item">
            <div class="matches__team">
              <h4 class="h4">VK Jirkov</h4>
              <div class="matches__team-logo">
                <img
                  src="images/content/club/3.png"
                  loading="lazy"
                  alt="logo"
                />
              </div>
            </div>
            <a href="#" class="matches__info win">3:1</a>
            <div class="matches__team">
              <div class="matches__team-logo">
                <img
                  src="images/content/club/2.png"
                  loading="lazy"
                  alt="logo"
                />
              </div>
              <h4 class="h4">TJ Sokol Vejprnice volejbal</h4>
            </div>
          </div>
          <div class="matches__item">
            <div class="matches__team">
              <h4 class="h4">VSK Český Krumlov</h4>
              <div class="matches__team-logo">
                <img
                  src="images/content/club/2.png"
                  loading="lazy"
                  alt="logo"
                />
              </div>
            </div>
            <a href="#" class="matches__info lose">0:4</a>
            <div class="matches__team">
              <div class="matches__team-logo">
                <img
                  src="images/content/club/3.png"
                  loading="lazy"
                  alt="logo"
                />
              </div>
              <h4 class="h4">SK Slavia Praha volejbal</h4>
            </div>
          </div>
          <div class="matches__item">
            <div class="matches__team">
              <h4 class="h4">TJ Sokol Vejprnice volejbal</h4>
              <div class="matches__team-logo">
                <img
                  src="images/content/club/1.png"
                  loading="lazy"
                  alt="logo"
                />
              </div>
            </div>
            <a href="#" class="matches__info">ne 17. 9. 10:00</a>
            <div class="matches__team">
              <div class="matches__team-logo">
                <img
                  src="images/content/club/3.png"
                  loading="lazy"
                  alt="logo"
                />
              </div>
              <h4 class="h4">SK Slavia Praha volejbal</h4>
            </div>
          </div>
          <div class="matches__item">
            <div class="matches__team">
              <h4 class="h4">TJ Sokol Vejprnice volejbal</h4>
              <div class="matches__team-logo">
                <img
                  src="images/content/club/3.png"
                  loading="lazy"
                  alt="logo"
                />
              </div>
            </div>
            <a href="#" class="matches__info win">so 7. 10. 10:00</a>
            <div class="matches__team">
              <div class="matches__team-logo">
                <img
                  src="images/content/club/2.png"
                  loading="lazy"
                  alt="logo"
                />
              </div>
              <h4 class="h4">BVC Chodov</h4>
            </div>
          </div>
          <div class="matches__item">
            <div class="matches__team">
              <h4 class="h4">HC Spartak Žebrák</h4>
              <div class="matches__team-logo">
                <img
                  src="images/content/club/2.png"
                  loading="lazy"
                  alt="logo"
                />
              </div>
            </div>
            <a href="#" class="matches__info lose">so 7. 10. 10:00</a>
            <div class="matches__team">
              <div class="matches__team-logo">
                <img
                  src="images/content/club/3.png"
                  loading="lazy"
                  alt="logo"
                />
              </div>
              <h4 class="h4">HC Spartak Žebrák</h4>
            </div>
          </div>
          <div class="matches__item">
            <div class="matches__team">
              <h4 class="h4">BVC Chodov</h4>
              <div class="matches__team-logo">
                <img
                  src="images/content/club/1.png"
                  loading="lazy"
                  alt="logo"
                />
              </div>
            </div>
            <a href="#" class="matches__info">5:5</a>
            <div class="matches__team">
              <div class="matches__team-logo">
                <img
                  src="images/content/club/3.png"
                  loading="lazy"
                  alt="logo"
                />
              </div>
              <h4 class="h4">HC Spartak Žebrák</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
