.copyright {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}
.footer {
  color: var(--color-light);
  &__logo {
    display: block;
    height: 120px;
    @include media-breakpoint-down(lg) {
      order: -1;
      margin: 0 auto;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &-top {
    background-color: var(--color-red);
    padding: 80px 0 40px;
    @include media-breakpoint-down(lg) {
      padding-top: 32px;
      padding-bottom: 0;
    }
  }
  &-top__inner {
    display: flex;
    justify-content: space-between;
    @include media-breakpoint-down(lg) {
      flex-wrap: wrap;
    }
  }
  &-top__title {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    max-width: 320px;
    padding-right: 32px;
    @include media-breakpoint-down(lg) {
      max-width: 100%;
      padding-right: 0;
      margin-bottom: 40px;
    }
    @include media-breakpoint-down(sm) {
      text-align: center;
      width: 100%;
    }
    br {
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
  }
  &-top__list {
    display: flex;
    flex-wrap: wrap;
    li {
      padding: 0 40px;
      margin-bottom: 40px;
      @include media-breakpoint-down(lg) {
        max-width: 50%;
        flex: 0 0 50%;
      }
      @include media-breakpoint-down(sm) {
        max-width: 100%;
        flex: 100%;
      }
    }
  }
  &-top__icon {
    width: 64px;
    height: 64px;
    margin-bottom: 32px;
    @include media-breakpoint-down(sm) {
      margin: 0 auto 32px;
    }
    svg {
      g,
      path {
        fill: var(--color-light);
      }
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &-top__item {
    max-width: 240px;
    @include media-breakpoint-down(sm) {
      max-width: 100%;
      text-align: center;
    }
    p {
      max-width: 190px;
      color: var(--color-light);
      font-size: 24px;
      font-weight: 300;
      line-height: 32px;
      @include media-breakpoint-down(sm) {
        margin: 0 auto;
      }
      strong {
        font-weight: 800;
      }
    }
  }
  &-bottom {
    background-color: var(--color-dark);
    padding-bottom: 60px;
    @include media-breakpoint-down(lg) {
      padding-bottom: 24px;
    }
  }
  &-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-right: -16px;
    padding-top: 34px;
    padding-bottom: 16px;

    li {
      padding: 0 8px;
      margin-bottom: 16px;
    }
    a {
      font-size: 16px;
      font-weight: 400;
      text-decoration-color: transparent;
      transition: all 0.3s;
      &:hover {
        text-decoration-color: inherit;
      }
    }
  }
}
#scrollToTopBtn {
  position: relative;
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;

  transition: all 0.3s;
  @include media-breakpoint-down(lg) {
    order: -1;
    position: absolute;
    right: 40px;
    top: 40px;
  }
  svg {
    height: 18px;
    width: 18px;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.2);
    }
  }
}
.footer-slider {
  padding: 80px 0 80px;
  border-bottom: 1px solid rgba(#fff, 0.15);
  @include media-breakpoint-down(lg) {
    padding: 60px 0;
  }
  .slick-track {
    display: flex;
    align-items: center;
  }
  .slick-slide img {
    max-height: 80px;
    max-width: 100%;
    margin: 0 auto;
  }
  .slick-arrow {
    display: none;
  }
  &__item {
    img {
      max-height: 120px;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}
.footer-slider__wrapper {
  background-color: var(--color-light);
}
.container-footer {
  margin: 0 auto;
  max-width: 1200px;
}
.footer-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  border-top: 1px solid rgba(#fff, 0.15);
  margin-bottom: 64px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  align-items: center;
  @include media-breakpoint-down(lg) {
    flex-wrap: wrap;
    margin-bottom: 24px;
    padding-left: 0;
    padding-right: 0;
  }
  &__links {
    display: flex;
    margin-left: -16px;

    @include media-breakpoint-down(lg) {
      width: 100%;
      margin-top: 24px;
      justify-content: center;
      flex-wrap: wrap;
    }
    li {
      padding: 0 8px;
    }
    a {
      font-size: 12px;
      font-weight: 400;
      text-decoration-color: transparent;
      transition: all 0.3s;
      &:hover {
        text-decoration-color: inherit;
      }
    }
  }
}
