<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="footer-top__inner">
        <div class="footer-top__title">
          Proč
          <br />
          sportovat <br />
          s námi?
        </div>
        <ul class="footer-top__list">
          <li>
            <div class="footer-top__item">
              <div class="footer-top__icon">
                {% include "@images/heart.svg" %}
              </div>
              <p>Uděláte něco pro své <strong>zdraví</strong></p>
            </div>
          </li>
          <li>
            <div class="footer-top__item">
              <div class="footer-top__icon">
                {% include "@images/smile.svg" %}
              </div>
              <p>Přijdete na jiné <strong> myšlenky</strong></p>
            </div>
          </li>
          <li>
            <div class="footer-top__item">
              <div class="footer-top__icon">
                {% include "@images/bodybuilding.svg" %}
              </div>
              <p><strong>Posílíte</strong> tělo i sebevědomí</p>
            </div>
          </li>
          <li>
            <div class="footer-top__item">
              <div class="footer-top__icon">
                {% include "@images/calendar.svg" %}
              </div>
              <p>
                Fungujeme <br />
                více než <strong>120 let</strong>
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-slider__wrapper">
      <div class="container">
        <div
          class="row justify-content-center align-items-center footer-slider"
        >
          <div class="col-12 col-md-3 text-center">
            <a class="footer-slider__item" href="#">
              <img
                src="images/content/juniors/partner-5.png"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="col-12 col-md-3 text-center">
            <a class="footer-slider__item" href="#">
              <img
                src="images/content/juniors/partner-6.png"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="col-12 col-md-3 text-center">
            <a class="footer-slider__item" href="#">
              <img
                src="images/content/juniors/partner-4.png"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="col-12 col-md-3 text-center">
            <a class="footer-slider__item" href="#">
              <img
                src="images/content/juniors/partner-3.png"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="col-12 col-md-3 text-center">
            <a class="footer-slider__item" href="#">
              <img
                src="images/content/juniors/partner-2.png"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="col-12 col-md-3 text-center">
            <a class="footer-slider__item" href="#">
              <img
                src="images/content/juniors/partner-5.png"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="col-12 col-md-3 text-center">
            <a class="footer-slider__item" href="#">
              <img
                src="images/content/juniors/partner-2.png"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="col-12 col-md-3 text-center">
            <a class="footer-slider__item" href="#">
              <img
                src="images/content/juniors/partner-1.png"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="col-12 col-md-3 text-center">
            <a class="footer-slider__item" href="#">
              <img
                src="images/content/juniors/partner-5.png"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="col-12 col-md-3 text-center">
            <a class="footer-slider__item" href="#">
              <img
                src="images/content/juniors/partner-4.png"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="col-12 col-md-3 text-center">
            <a class="footer-slider__item" href="#">
              <img
                src="images/content/juniors/partner-3.png"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="col-12 col-md-3 text-center">
            <a class="footer-slider__item" href="#">
              <img
                src="images/content/juniors/partner-2.png"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <ul class="footer-menu">
        <li>
          <a href="#">Aktuality</a>
        </li>
        <li>
          <a href="#">Oddíly</a>
        </li>
        <li>
          <a href="#">Sportoviště</a>
        </li>
        <li>
          <a href="#">Dokumenty</a>
        </li>
        <li>
          <a href="#">O nás</a>
        </li>
        <li>
          <a href="#">Partneři</a>
        </li>
        <li>
          <a href="#">Kontakt</a>
        </li>
      </ul>
      <div class="container-footer">
        <div class="footer-nav">
          <a href="/" class="footer__logo">
            <img src="images/content/tj-footer.png" alt="" />
          </a>
          <ul class="footer-nav__links">
            <li>
              <a href="#">Kontakty</a>
            </li>
            <li>
              <a href="#">Podmínky použití webu</a>
            </li>
            <li>
              <a href="#">Ochrana soukromí</a>
            </li>
          </ul>
          <button id="scrollToTopBtn">{% include "@images/up.svg" %}</button>
        </div>
      </div>
      <div class="copyright">
        © TJ Sokol Vejprnice a - All rights reserved &
        <a href="#">eSports s.r.o.</a>
      </div>
    </div>
  </div>
</footer>
