<div class="post">
  <h3 class="h3 mb-4">ASPV na soutěži ve Zruči</h3>
  <p class="p2 mb-8">
    11. března pořádala Plzeňská krajská asociace – Sport pro všechny ve Zruči
    soutěž pro mladší děti a předškoláky. Soutěže se zúčastnili i naši malí
    svěřenci TJ SOKOL VEJPRNICE, se kterými se pravidelně...
  </p>
  <a href="#" class="link link--red">Číst více</a>
</div>
