<section class="top-section">
  <div class="container">
    <div class="top-section__inner">
      <div class="top-section__content">
        <h1 class="top-section__title">
          Přijďte si k nám
          <span>zasportovat</span>
        </h1>
        <p>
          <strong>Přidejte se k více než 722 členům do</strong>
          <a href="#">našich oddílů</a> a nebo si pronajměte
          <a href="#">multifunkční hřiště</a>, <a href="#">beach</a> /
          <a href="#">volejbalový </a> kurt.
        </p>
        <ul class="top-section__links">
          <li>
            <a href="#" class="link link--dark">Přehled sportovišť</a>
          </li>
          <li>
            <a href="#" class="link link--red">Všechny oddíly</a>
          </li>
        </ul>
      </div>
      <div class="top-section__img">
        <img src="images/content/top2.png" loading="lazy" alt="" />
      </div>
    </div>
  </div>
</section>
