<div class="juniors-partners">
  <div class="container">
    <div class="juniors-partners__inner">
      <h2 class="h2 text-center mb-10">Partneři klub</h2>
      <div
        class="row justify-content/juniors-center align-items-center juniors-partners__slider"
      >
        <div class="col-12 col-md-3 text-center">
          <a class="juniors-partners__item" href="#">
            <img
              src="images/content/juniors/partner-1.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-12 col-md-3 text-center">
          <a class="juniors-partners__item" href="#">
            <img
              src="images/content/juniors/partner-2.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-12 col-md-3 text-center">
          <a class="juniors-partners__item" href="#">
            <img
              src="images/content/juniors/partner-3.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-12 col-md-3 text-center">
          <a class="juniors-partners__item" href="#">
            <img
              src="images/content/juniors/partner-4.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-12 col-md-3 text-center">
          <a class="juniors-partners__item" href="#">
            <img
              src="images/content/juniors/partner-5.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-12 col-md-3 text-center">
          <a class="juniors-partners__item" href="#">
            <img
              src="images/content/juniors/partner-6.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-12 col-md-3 text-center">
          <a class="juniors-partners__item" href="#">
            <img
              src="images/content/juniors/partner-1.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-12 col-md-3 text-center">
          <a class="juniors-partners__item" href="#">
            <img
              src="images/content/juniors/partner-2.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-12 col-md-3 text-center">
          <a class="juniors-partners__item" href="#">
            <img
              src="images/content/juniors/partner-3.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-12 col-md-3 text-center">
          <a class="juniors-partners__item" href="#">
            <img
              src="images/content/juniors/partner-4.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-12 col-md-3 text-center">
          <a class="juniors-partners__item" href="#">
            <img
              src="images/content/juniors/partner-5.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-12 col-md-3 text-center">
          <a class="juniors-partners__item" href="#">
            <img
              src="images/content/juniors/partner-6.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
