{% extends "@components/base/base.twig" %} {% set title = "03.0_static-menu" %}
{% block main %} {% include "@components/header/header.twig" %}

<div class="main-bg">
  <main class="main" aria-label="Hlavní obsah">
    <div class="container">
      <div class="main__inner">
        <section class="static-section">
          <div class="row justify-content-between gy-10">
            <div class="col-lg-8">
              <div class="o-content">
                <h1>Název podstránky</h1>
                <div class="perex">
                  V 19. kole FORTUNA:NÁRODNÍ LIGY bylo k vidění derby pražských
                  týmu, na Julisce se představila Slavia Praha B. Bleskový start
                  do zápasu započal gólovou trefou Kozel, na jehož zásah
                  navázali Krch a v druhém poločase také Matějka s Moulisem.
                  Dukla nakonec porazila červenobílé 4:1.
                </div>
                <h3>Komentář</h3>
                <p>
                  Dukla začala utkání velmi aktivní hrou, kterou po pár minutách
                  hry poprvé zužitkovala. V sedmé minutě Špatenka rychle
                  rozehrál volný kop z poloviny hřiště na Moulise, který ve
                  vápně posunul na Barace. Krajní hráč adresoval zpětnou
                  přihrávku přesně do středu vápna, kde stál připravený David
                  Kozel, jehož střela zapadla ke vzdálenější tyči Dvořáka.
                </p>
                <p>
                  O čtyři minuty později podržel domácí fotbalisty skvělým
                  zákrokem Filip Rada. Hostující Daniel Šmiga si naskočil na
                  povedený centr svého spoluhráče, ale devětatřicetiletého
                  brankáře Radu nepřekonal. Podruhé se tak ke slovu dostali
                  domácí.
                </p>
                <img
                  class="img-content"
                  src="images/content/g1.png"
                  loading="lazy"
                  alt=""
                />
                <p>
                  V jednadvacáté minutě nasměroval tým z Julisky centr do vápna,
                  který vypadl z náruče sešívaného brankáře. V následném zmatku
                  před brankou se nejlépe zorientoval Daniel Krch, který si
                  připsal svojí první branku v žlutočervených barvách a zvýšil
                  na 2:0.
                </p>
                <p>
                  V gólově bohatém prvním poločase se přesného zásahu po více
                  než půl hodině hry dočkali také sešívaní. Z protiútoku Slavie,
                  po několika odrazech na úrovni vápna, propadl míč k
                  osamocenému Adamu Pudilovi. Mladý slávistický záložník tváři v
                  tvář proti Radovi uspěl.
                </p>
                <p>
                  Druhý poločas nabídl množství osobních soubojů na obou
                  stranách, i přesto se Dukla v 66. minutě vrátila do
                  dvoubrankového vedení. Po několika vyložených šancích vyslal
                  Moulis z pravé strany Lukáše Matějku, který vystřelil z
                  velkého úhlu. Razantní střelou se mu ale podařilo prostřelit
                  hostujícího golmana.
                </p>
                <h6>Hlavní body vítězství:</h6>
                <ul>
                  <li>Jsem nesmírně hrdý na tuto skupinu hráčů.</li>
                  <li>
                    Hráli jsme skvěle a ukázali jsme, co jsme schopni dokázat.
                  </li>
                  <li>
                    Dnes jsme se stali vítězi a já věřím, že toto vítězství nás
                    ještě více posílí na další zápasy.
                  </li>
                  <li>Byla to skvělá práce celého týmu.</li>
                  <li>
                    Od obrany až po útok jsme hráli jako jeden celek a ukázali
                    jsme, že jsme velmi nebezpečným soupeřem.
                  </li>
                </ul>
                <h3>V pozápasovém rozhovoru zaznělo:</h3>
                <q>
                  Další utkání nás čeká 1. dubna, kdy se představíme na hřišti
                  Vyškova. Plánovaný start je v 10:15.
                </q>
                <p>
                  V jednadvacáté minutě nasměroval tým z Julisky centr do vápna,
                  který vypadl z náruče sešívaného brankáře. V následném zmatku
                  před brankou se nejlépe zorientoval Daniel Krch, který si
                  připsal svojí první branku v žlutočervených barvách a zvýšil
                  na 2:0.
                </p>
                <h6>Hlavní body vítězství:</h6>
                <ol>
                  <li>Jsem nesmírně hrdý na tuto skupinu hráčů.</li>
                  <li>
                    Hráli jsme skvěle a ukázali jsme, co jsme schopni dokázat.
                  </li>
                  <li>
                    Dnes jsme se stali vítězi a já věřím, že toto vítězství nás
                    ještě více posílí na další zápasy.
                  </li>
                  <li>Byla to skvělá práce celého týmu.</li>
                  <li>
                    Od obrany až po útok jsme hráli jako jeden celek a ukázali
                    jsme, že jsme velmi nebezpečným soupeřem.
                  </li>
                </ol>
                <p>
                  V gólově bohatém prvním poločase se přesného zásahu po více
                  než půl hodině hry dočkali také sešívaní. Z protiútoku Slavie,
                  po několika odrazech na úrovni vápna, propadl míč k
                  osamocenému Adamu Pudilovi. Mladý slávistický záložník tváři v
                  tvář proti Radovi uspěl. V gólově bohatém prvním poločase se
                  přesného zásahu po více než půl hodině hry dočkali také
                  sešívaní. Z protiútoku Slavie, po několika odrazech na úrovni
                  vápna, propadl míč k osamocenému Adamu Pudilovi. Mladý
                  slávistický záložník tváři v tvář proti Radovi uspěl.
                </p>
                <img src="images/content/g2.png" loading="lazy" alt="" />
                <p>
                  Druhý poločas nabídl množství osobních soubojů na obou
                  stranách, i přesto se Dukla v 66. minutě vrátila do
                  dvoubrankového vedení. Po několika vyložených šancích vyslal
                  Moulis z pravé strany Lukáše Matějku, který vystřelil z
                  velkého úhlu. Razantní střelou se mu ale podařilo prostřelit
                  hostujícího golmana.
                </p>
                <h3>Tabulka</h3>
                <table>
                  <thead>
                    <tr>
                      <th>Firma</th>
                      <th>Jméno a příjmení</th>
                      <th>Datum a čas</th>
                      <th>Datum a čas</th>
                      <th class="text-right">E-mail</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Eluvia Service</td>
                      <td>Denis Heldák</td>
                      <td>24. 09. 2023, 14:01</td>
                      <td>Listopad</td>
                      <td class="text-right">
                        <a href="mailto:jakub.pospisil@seznam.cz">
                          jakub.pospisil@seznam.cz
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>Eluvia Service</td>
                      <td>Denis Heldák</td>
                      <td>24. 09. 2023, 14:01</td>
                      <td>Listopad</td>
                      <td class="text-right">
                        <a href="mailto:jakub.pospisil@seznam.cz">
                          jakub.pospisil@seznam.cz
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>Eluvia Service</td>
                      <td>Denis Heldák</td>
                      <td>24. 09. 2023, 14:01</td>
                      <td>Listopad</td>
                      <td class="text-right">
                        <a href="mailto:jakub.pospisil@seznam.cz">
                          jakub.pospisil@seznam.cz
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>Eluvia Service</td>
                      <td>Denis Heldák</td>
                      <td>24. 09. 2023, 14:01</td>
                      <td>Listopad</td>
                      <td class="text-right">
                        <a href="mailto:jakub.pospisil@seznam.cz">
                          jakub.pospisil@seznam.cz
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>Eluvia Service</td>
                      <td>Denis Heldák</td>
                      <td>24. 09. 2023, 14:01</td>
                      <td>Listopad</td>
                      <td class="text-right">
                        <a href="mailto:jakub.pospisil@seznam.cz">
                          jakub.pospisil@seznam.cz
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <h3>Galerie</h3>
                <div class="photogallery">
                  <div class="row g-4">
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <a
                        href="#"
                        data-source="/tj_sokol_vejprnice/build/ajax-gallery.json"
                        data-gallery-id="6"
                      >
                        <img
                          src="images/content/g1.png"
                          loading="lazy"
                          alt=""
                        />
                      </a>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <a
                        href="#"
                        data-source="/tj_sokol_vejprnice/build/ajax-gallery.json"
                        data-gallery-id="5"
                      >
                        <img
                          src="images/content/g2.png"
                          loading="lazy"
                          alt=""
                        />
                      </a>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <a
                        href="#"
                        data-source="/tj_sokol_vejprnice/build/ajax-gallery.json"
                        data-gallery-id="4"
                      >
                        <img
                          src="images/content/topstory.png"
                          loading="lazy"
                          alt=""
                        />
                      </a>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <a
                        href="#"
                        data-source="/tj_sokol_vejprnice/build/ajax-gallery.json"
                        data-gallery-id="3"
                      >
                        <img
                          src="images/content/g1.png"
                          loading="lazy"
                          alt=""
                        />
                      </a>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <a
                        href="#"
                        data-source="/tj_sokol_vejprnice/build/ajax-gallery.json"
                        data-gallery-id="2"
                      >
                        <img
                          src="images/content/g1.png"
                          loading="lazy"
                          alt=""
                        />
                      </a>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <a
                        href="#"
                        data-source="/tj_sokol_vejprnice/build/ajax-gallery.json"
                        data-gallery-id="1"
                      >
                        <img
                          src="images/content/topstory.png"
                          loading="lazy"
                          alt=""
                        />
                      </a>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <a
                        href="#"
                        data-source="/tj_sokol_vejprnice/build/ajax-gallery.json"
                        data-gallery-id="7"
                      >
                        <img
                          src="images/content/g2.png"
                          loading="lazy"
                          alt=""
                        />
                      </a>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <a
                        href="#"
                        data-source="/tj_sokol_vejprnice/build/ajax-gallery.json"
                        data-gallery-id="8"
                      >
                        <img
                          src="images/content/g1.png"
                          loading="lazy"
                          alt=""
                        />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <aside class="aside">
                <h3 class="h3 mb-4">Submenu</h3>
                <ul class="aside-menu">
                  <li>
                    <a href="#">Název podstránky</a>
                  </li>
                  <li>
                    <a class="active" href="#">Název podstránky</a>
                  </li>
                  <li>
                    <a href="#">Název podstránky</a>
                  </li>
                  <li>
                    <a href="#">Název podstránky</a>
                  </li>
                  <li>
                    <a href="#">Název podstránky</a>
                  </li>
                </ul>
              </aside>
            </div>
          </div>
        </section>
      </div>
    </div>
  </main>
  {% include "@components/departments/departments_2.twig" %} {% include
  "@components/posts-list/posts-list.twig" %}
</div>
{% endblock %}
