{% extends "@components/base/base.twig" %} {% set title = "06.0_club-2" %} {%
block main %} {% include "@components/header/header-club.twig" %}
<main class="main" aria-label="Hlavní obsah">
  {% include "@components/juniors-posts/juniors-posts.twig" %} {% include
  "@components/juniors-matches/juniors-matches.twig" %} {% include
  "@components/juniors-partners/juniors-partners.twig" %} {% include
  "@components/departments/departments.twig" %}
</main>

{% endblock %}
