{% extends "@components/base/base.twig" %} {% set title = "07.0_gallery" %} {%
block main %} {% include "@components/header/header.twig" %}
<main class="main" aria-label="Hlavní obsah">
  {% include "@components/gallery-section/gallery-section.twig" %}
</main>

{% endblock %}
