{% extends "@components/base/base.twig" %} {% set title = "08.0_partners" %} {%
block main %} {% include "@components/header/header.twig" %}
<main class="main" aria-label="Hlavní obsah">
  {% include "@components/partners-section/partners-section.twig" %}
</main>

{% endblock %}
