{% extends "@components/base/base.twig" %} {% set title = "12.0_new-players" %} {%
block main %} {% include "@components/header/header.twig" %}

<div class="main-bg">
  <main class="main" aria-label="Hlavní obsah">
    <section class="players-section">
      <div class="container">
        <div class="row">
          <div class="col-xl-10 m-auto">
            <h1 class="h1 mb-6">Soupiska 2023/2024</h1>
            <div class="players-section__inner">
              <div class="players-section__box">
                <h2 class="h2 mb-5">Útočníci</h2>
                <div class="row g-10">
                  <div class="col-xl-4 col-md-6">
                    <div class="newPlayers">
                      <a href="#" class="newPlayers__img">
                        <img
                          src=" images/content/test-ava.jpeg"
                          loading="lazy"
                          alt="avatar"
                        />
                      </a>
                      <div class="newPlayers__box">
                        <a href="#" class="newPlayers__title">Marek Beneš</a>
                        <p class="newPlayers__info">
                          / 26 let / 0 cm / 0 kg / L
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-md-6">
                    <div class="newPlayers">
                      <a href="#" class="newPlayers__img">
                        <img
                          src=" images/content/test-ava.jpeg"
                          loading="lazy"
                          alt="avatar"
                        />
                      </a>
                      <div class="newPlayers__box">
                        <a href="#" class="newPlayers__title"
                          >Petr Brautferger</a
                        >
                        <p class="newPlayers__info">
                          / 26 let / 0 cm / 0 kg / L
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-md-6">
                    <div class="newPlayers">
                      <a href="#" class="newPlayers__img">
                        <img
                          src=" images/content/test-ava.jpeg"
                          loading="lazy"
                          alt="avatar"
                        />
                      </a>
                      <div class="newPlayers__box">
                        <a href="#" class="newPlayers__title"
                          >Martin Šindelář</a
                        >
                        <p class="newPlayers__info">
                          / 26 let / 0 cm / 0 kg / L
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-md-6">
                    <div class="newPlayers">
                      <a href="#" class="newPlayers__img">
                        <img
                          src=" images/content/test-ava.jpeg"
                          loading="lazy"
                          alt="avatar"
                        />
                      </a>
                      <div class="newPlayers__box">
                        <a href="#" class="newPlayers__title">Marek Beneš</a>
                        <p class="newPlayers__info">
                          / 26 let / 0 cm / 0 kg / L
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-md-6">
                    <div class="newPlayers">
                      <a href="#" class="newPlayers__img">
                        <img
                          src=" images/content/test-ava.jpeg"
                          loading="lazy"
                          alt="avatar"
                        />
                      </a>
                      <div class="newPlayers__box">
                        <a href="#" class="newPlayers__title"
                          >Petr Brautferger</a
                        >
                        <p class="newPlayers__info">
                          / 26 let / 0 cm / 0 kg / L
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-md-6">
                    <div class="newPlayers">
                      <a href="#" class="newPlayers__img">
                        <img
                          src=" images/content/test-ava.jpeg"
                          loading="lazy"
                          alt="avatar"
                        />
                      </a>
                      <div class="newPlayers__box">
                        <a href="#" class="newPlayers__title"
                          >Martin Šindelář</a
                        >
                        <p class="newPlayers__info">
                          / 26 let / 0 cm / 0 kg / L
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-md-6">
                    <div class="newPlayers">
                      <a href="#" class="newPlayers__img">
                        <img
                          src=" images/content/test-ava.jpeg"
                          loading="lazy"
                          alt="avatar"
                        />
                      </a>
                      <div class="newPlayers__box">
                        <a href="#" class="newPlayers__title">Marek Beneš</a>
                        <p class="newPlayers__info">
                          / 26 let / 0 cm / 0 kg / L
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-4 col-md-6">
                    <div class="newPlayers">
                      <a href="#" class="newPlayers__img">
                        <img
                          src=" images/content/test-ava.jpeg"
                          loading="lazy"
                          alt="avatar"
                        />
                      </a>
                      <div class="newPlayers__box">
                        <a href="#" class="newPlayers__title">David Šimek</a>
                        <p class="newPlayers__info">
                          / 26 let / 0 cm / 0 kg / L
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="players-section__box">
                <h2 class="h2 mb-5">Obránci</h2>
                <div class="row g-10">
                  <div class="col-xl-4 col-md-6">
                    <div class="newPlayers">
                      <a href="#" class="newPlayers__img">
                        <img
                          src=" images/content/test-ava.jpeg"
                          loading="lazy"
                          alt="avatar"
                        />
                      </a>
                      <div class="newPlayers__box">
                        <a href="#" class="newPlayers__title">Marek Beneš</a>
                        <p class="newPlayers__info">
                          / 26 let / 0 cm / 0 kg / L
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-md-6">
                    <div class="newPlayers">
                      <a href="#" class="newPlayers__img">
                        <img
                          src=" images/content/test-ava.jpeg"
                          loading="lazy"
                          alt="avatar"
                        />
                      </a>
                      <div class="newPlayers__box">
                        <a href="#" class="newPlayers__title"
                          >Petr Brautferger</a
                        >
                        <p class="newPlayers__info">
                          / 26 let / 0 cm / 0 kg / L
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="players-section__box">
                <h2 class="h2 mb-5">Záložníci</h2>
                <div class="row g-10">
                  <div class="col-xl-4 col-md-6">
                    <div class="newPlayers">
                      <a href="#" class="newPlayers__img">
                        <img
                          src=" images/content/test-ava.jpeg"
                          loading="lazy"
                          alt="avatar"
                        />
                      </a>
                      <div class="newPlayers__box">
                        <a href="#" class="newPlayers__title">Marek Beneš</a>
                        <p class="newPlayers__info">
                          / 26 let / 0 cm / 0 kg / L
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-md-6">
                    <div class="newPlayers">
                      <a href="#" class="newPlayers__img">
                        <img
                          src=" images/content/test-ava.jpeg"
                          loading="lazy"
                          alt="avatar"
                        />
                      </a>
                      <div class="newPlayers__box">
                        <a href="#" class="newPlayers__title"
                          >Petr Brautferger</a
                        >
                        <p class="newPlayers__info">
                          / 26 let / 0 cm / 0 kg / L
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-md-6">
                    <div class="newPlayers">
                      <a href="#" class="newPlayers__img">
                        <img
                          src=" images/content/test-ava.jpeg"
                          loading="lazy"
                          alt="avatar"
                        />
                      </a>
                      <div class="newPlayers__box">
                        <a href="#" class="newPlayers__title"
                          >Martin Šindelář</a
                        >
                        <p class="newPlayers__info">
                          / 26 let / 0 cm / 0 kg / L
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-md-6">
                    <div class="newPlayers">
                      <a href="#" class="newPlayers__img">
                        <img
                          src=" images/content/test-ava.jpeg"
                          loading="lazy"
                          alt="avatar"
                        />
                      </a>
                      <div class="newPlayers__box">
                        <a href="#" class="newPlayers__title">Marek Beneš</a>
                        <p class="newPlayers__info">
                          / 26 let / 0 cm / 0 kg / L
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-md-6">
                    <div class="newPlayers">
                      <a href="#" class="newPlayers__img">
                        <img
                          src=" images/content/test-ava.jpeg"
                          loading="lazy"
                          alt="avatar"
                        />
                      </a>
                      <div class="newPlayers__box">
                        <a href="#" class="newPlayers__title"
                          >Petr Brautferger</a
                        >
                        <p class="newPlayers__info">
                          / 26 let / 0 cm / 0 kg / L
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-md-6">
                    <div class="newPlayers">
                      <a href="#" class="newPlayers__img">
                        <img
                          src=" images/content/test-ava.jpeg"
                          loading="lazy"
                          alt="avatar"
                        />
                      </a>
                      <div class="newPlayers__box">
                        <a href="#" class="newPlayers__title"
                          >Martin Šindelář</a
                        >
                        <p class="newPlayers__info">
                          / 26 let / 0 cm / 0 kg / L
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-md-6">
                    <div class="newPlayers">
                      <a href="#" class="newPlayers__img">
                        <img
                          src=" images/content/test-ava.jpeg"
                          loading="lazy"
                          alt="avatar"
                        />
                      </a>
                      <div class="newPlayers__box">
                        <a href="#" class="newPlayers__title">Marek Beneš</a>
                        <p class="newPlayers__info">
                          / 26 let / 0 cm / 0 kg / L
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-4 col-md-6">
                    <div class="newPlayers">
                      <a href="#" class="newPlayers__img">
                        <img
                          src=" images/content/test-ava.jpeg"
                          loading="lazy"
                          alt="avatar"
                        />
                      </a>
                      <div class="newPlayers__box">
                        <a href="#" class="newPlayers__title">David Šimek</a>
                        <p class="newPlayers__info">
                          / 26 let / 0 cm / 0 kg / L
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  {% include "@components/departments/departments_2.twig" %} {% include
  "@components/posts-list/posts-list.twig" %}
</div>
{% endblock %}
