{% extends "@components/base/base.twig" %} {% set title = "13.0_new-matches" %}
{% block main %} {% include "@components/header/header.twig" %}

<div class="main-bg">
  <main class="main" aria-label="Hlavní obsah">
    <div class="container">
      <div class="newMatches-section">
        <h1 class="h1 mb-6">PŘEHLED ZÁPASŮ</h1>
        <div class="table-responsive" id="ajax-pane" aria-live="polite">
          <table class="table table-bordered border-top border-bcolor mb-9">
            <thead>
              <tr>
                <th>Kolo</th>
                <th>Datum</th>
                <th>Stadion</th>
                <th class="text-end">Domácí</th>
                <th class="text-center">Skóre</th>
                <th colspan="3">Hosté</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1.</td>
                <td class="text-nowrap">úterý 12.3.</td>
                <td>UNYP ARENA</td>
                <td>
                  <div
                    class="d-flex align-items-center justify-content-end fw-bold text-nowrap"
                  >
                    Tatran
                    <img
                      src="images/content/club/logo-2.png"
                      class="d-none d-lg-block ms-4 lazy js-lazy loaded"
                      width="30"
                      height="30"
                    />
                  </div>
                </td>
                <td class="text-center text-nowrap">
                  <span class="fw-bold">
                    <a href="#" class="lost">11:4</a>
                    <span>(2:3, 6:1, 3:0)</span>
                  </span>
                </td>
                <td>
                  <div class="d-flex align-items-center fw-bold text-nowrap">
                    <img
                      src="images/content/club/1.png"
                      class="d-none d-lg-block me-4 lazy js-lazy loaded"
                      width="30"
                      height="30"
                    />
                    Česká Lípa
                  </div>
                </td>
                <td class="text-end text-nowrap">
                  <a href="#" class="text-nowrap me-4">
                    <!-- prettier-ignore -->
                    <span><img class="icon-arrow" src="images/ico/arrow-right-red.svg"   alt="arrow-right">report</span>
                  </a>

                  <a
                    href="https://www.ceskyflorbal.cz/match/detail/default/1075285"
                    class="text-nowrap me-4"
                  >
                    <!-- prettier-ignore -->
                    <span><img class="icon-arrow" src="images/ico/arrow-right-red.svg"   alt="arrow-right">online</span>
                  </a>

                  <a href="#" class="text-nowrap">
                    <!-- prettier-ignore -->
                    <span>
                        <img class="icon-youtube" src="images/ico/youtube.svg"   alt="youtube">video
                    </span>
                  </a>
                </td>
              </tr>

              <tr>
                <td>1.</td>
                <td class="text-nowrap">sobota 14.9.</td>
                <td>Richard-Hartmann-Halle Chemnitz</td>
                <td>
                  <div
                    class="d-flex align-items-center justify-content-end fw-bold text-nowrap"
                  >
                    Tatran
                    <img
                      src="images/content/club/logo-2.png"
                      class="d-none d-lg-block ms-4 lazy js-lazy loaded"
                      width="30"
                      height="30"
                    />
                  </div>
                </td>
                <td class="text-center text-nowrap">
                  <span class="fw-bold"> 18:00 </span>
                </td>
                <td>
                  <div class="d-flex align-items-center fw-bold text-nowrap">
                    <img
                      src="images/content/club/2.png"
                      class="d-none d-lg-block me-4 lazy js-lazy loaded"
                      width="30"
                      height="30"
                    />
                    Bohemians
                  </div>
                </td>
                <td class="text-end text-nowrap">
                  <a
                    href="https://www.ceskyflorbal.tv/livestream/s-esa-logistika-tatran-stresovice-fbs-bohemians-2yjs9"
                    class="text-nowrap"
                  >
                    <!-- prettier-ignore -->
                    <span>
                                                <img class="icon-youtube" src="images/ico/youtube.svg"   alt="youtube">video
                                            </span>
                  </a>
                </td>
              </tr>

              <tr>
                <td>2.</td>
                <td class="text-nowrap">úterý 12.9.</td>
                <td>Sportovní centrum Řepy</td>
                <td>
                  <div
                    class="d-flex align-items-center justify-content-end fw-bold text-nowrap"
                  >
                    Tatran
                    <img
                      src="images/content/club/logo-2.png"
                      class="d-none d-lg-block ms-4 lazy js-lazy loaded"
                      width="30"
                      height="30"
                    />
                  </div>
                </td>
                <td class="text-center text-nowrap">
                  <span class="fw-bold">
                    <a href="zapas.asp?id=4369" class="win">5:4</a>
                    <span>(2:1, 2:1, 0:2)</span>
                  </span>
                </td>
                <td>
                  <div class="d-flex align-items-center fw-bold text-nowrap">
                    <img
                      src="images/content/club/2.png"
                      class="d-none d-lg-block me-4 lazy js-lazy loaded"
                      width="30"
                      height="30"
                    />
                    SKV
                  </div>
                </td>
                <td class="text-end text-nowrap">
                  <a href="#" class="text-nowrap me-4">
                    <!-- prettier-ignore -->
                    <span><img class="icon-arrow" src="images/ico/arrow-right-red.svg"   alt="arrow-right">report</span>
                  </a>

                  <a
                    href="https://www.ceskyflorbal.cz/match/detail/default/976633"
                    class="text-nowrap me-4"
                  >
                    <!-- prettier-ignore -->
                    <span><img class="icon-arrow" src="images/ico/arrow-right-red.svg"   alt="arrow-right">online</span>
                  </a>

                  <a href="#" class="text-nowrap">
                    <!-- prettier-ignore -->
                    <span>
                      <img class="icon-youtube" src="images/ico/youtube.svg"   alt="youtube">
                                                video
                      </span>
                  </a>
                </td>
              </tr>

              <tr>
                <td>2.</td>
                <td class="text-nowrap">středa 18.9.</td>
                <td>Sportovní centrum Řepy</td>
                <td>
                  <div
                    class="d-flex align-items-center justify-content-end fw-bold text-nowrap"
                  >
                    Tatran
                    <img
                      src="images/content/club/logo-2.png"
                      class="d-none d-lg-block ms-4 lazy js-lazy loaded"
                      width="30"
                      height="30"
                    />
                  </div>
                </td>
                <td class="text-center text-nowrap">
                  <span class="fw-bold"> 19:00 </span>
                </td>
                <td>
                  <div class="d-flex align-items-center fw-bold text-nowrap">
                    <img
                      src="images/content/club/3.png"
                      class="d-none d-lg-block me-4 lazy js-lazy loaded"
                      width="30"
                      height="30"
                    />
                    Brno
                  </div>
                </td>
                <td class="text-end text-nowrap">
                  <a
                    href="https://www.ceskyflorbal.tv/livestream/s-esa-logistika-tatran-stresovice-bulldogs-brno-852w2n"
                    class="text-nowrap"
                  >
                    <!-- prettier-ignore -->
                    <span>
                                                <img class="icon-youtube" src="images/ico/youtube.svg"   alt="youtube">video
                                            </span>
                  </a>
                </td>
              </tr>

              <tr>
                <td>5</td>
                <td class="text-nowrap">neděle 17.3.</td>
                <td>SH Česká Lípa</td>
                <td>
                  <div
                    class="d-flex align-items-center justify-content-end fw-bold text-nowrap"
                  >
                    Česká Lípa
                    <img
                      src="images/content/club/3.png"
                      class="d-none d-lg-block ms-4 lazy js-lazy loaded"
                      width="30"
                      height="30"
                    />
                  </div>
                </td>
                <td class="text-center text-nowrap">
                  <span class="fw-bold">
                    <a href="zapas.asp?id=2957" class="win">2:6</a>
                    <span>(0:4, 0:1, 2:1)</span>
                  </span>
                </td>
                <td>
                  <div class="d-flex align-items-center fw-bold text-nowrap">
                    <img
                      src="images/content/club/logo-2.png"
                      class="d-none d-lg-block me-4 lazy js-lazy loaded"
                      width="30"
                      height="30"
                    />
                    Tatran
                  </div>
                </td>
                <td class="text-end text-nowrap">
                  <a
                    href="https://fis.ceskyflorbal.cz/index.php?pageid=2519&onlycontent=1&record_id=391539&type=2"
                    class="text-nowrap me-4"
                  >
                    <!-- prettier-ignore -->
                    <span><img class="icon-arrow" src="images/ico/arrow-right-red.svg"   alt="arrow-right">report</span>
                  </a>

                  <a
                    href="https://www.ceskyflorbal.cz/match/detail/default/1075297"
                    class="text-nowrap me-4"
                  >
                    <!-- prettier-ignore -->
                    <span><img class="icon-arrow" src="images/ico/arrow-right-red.svg"   alt="arrow-right">online</span>
                  </a>
                </td>
              </tr>

              <tr>
                <td>4.</td>
                <td class="text-nowrap">sobota 5.10.</td>
                <td>ČPP Aréna Ostrava</td>
                <td>
                  <div
                    class="d-flex align-items-center justify-content-end fw-bold text-nowrap"
                  >
                    Ostrava
                    <img
                      src="images/content/club/3.png"
                      class="d-none d-lg-block ms-4 lazy js-lazy loaded"
                      width="30"
                      height="30"
                    />
                  </div>
                </td>
                <td class="text-center text-nowrap">
                  <span class="fw-bold"> &nbsp; </span>
                </td>
                <td>
                  <div class="d-flex align-items-center fw-bold text-nowrap">
                    <img
                      src="images/content/club/logo-2.png"
                      class="d-none d-lg-block me-4 lazy js-lazy loaded"
                      width="30"
                      height="30"
                    />
                    Tatran
                  </div>
                </td>
                <td class="text-end text-nowrap">
                  <a
                    href="https://www.ceskyflorbal.tv/livestream/s-fbc-cpp-bystron-group-ostrava-esa-logistika-tatran-stresovice-9vzwi7"
                    class="text-nowrap"
                  >
                    <!-- prettier-ignore -->
                    <span>
                                                <img class="icon-youtube" src="images/ico/youtube.svg"   alt="youtube">video
                                            </span>
                  </a>
                </td>
              </tr>

              <tr>
                <td>5.</td>
                <td class="text-nowrap">neděle 1.10.</td>
                <td>Sportovní centrum Řepy</td>
                <td>
                  <div
                    class="d-flex align-items-center justify-content-end fw-bold text-nowrap"
                  >
                    Tatran
                    <img
                      src="images/content/club/logo-2.png"
                      class="d-none d-lg-block ms-4 lazy js-lazy loaded"
                      width="30"
                      height="30"
                    />
                  </div>
                </td>
                <td class="text-center text-nowrap">
                  <span class="fw-bold">
                    <a href="zapas.asp?id=4361" class="win">14:1</a>
                    <span>(5:1, 4:0, 5:0)</span>
                  </span>
                </td>
                <td>
                  <div class="d-flex align-items-center fw-bold text-nowrap">
                    <img
                      src="images/content/club/1.png"
                      class="d-none d-lg-block me-4 lazy js-lazy loaded"
                      width="30"
                      height="30"
                    />
                    Česká Lípa
                  </div>
                </td>
                <td class="text-end text-nowrap">
                  <a
                    href="https://fis.ceskyflorbal.cz/index.php?pageid=2519&onlycontent=1&record_id=365352&type=2"
                    class="text-nowrap me-4"
                  >
                    <!-- prettier-ignore -->
                    <span><img class="icon-arrow" src="images/ico/arrow-right-red.svg"   alt="arrow-right">report</span>
                  </a>

                  <a
                    href="https://www.ceskyflorbal.cz/match/detail/default/976649"
                    class="text-nowrap me-4"
                  >
                    <!-- prettier-ignore -->
                    <span><img class="icon-arrow" src="images/ico/arrow-right-red.svg"   alt="arrow-right">online</span>
                  </a>

                  <a
                    href="https://www.ceskyflorbal.tv/livestream/s-tatran-stresovice-fbc-4clean-ceska-lipa-v5wif8"
                    class="text-nowrap"
                  >
                    <!-- prettier-ignore -->
                    <span>
                                                <img class="icon-youtube" src="images/ico/youtube.svg"   alt="youtube">video
                                            </span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
  {% include "@components/departments/departments_2.twig" %} {% include
  "@components/posts-list/posts-list.twig" %}
</div>
{% endblock %}
