{% extends "@components/base/base.twig" %} {% set title = "14.0_department" %}
{% block main %} {% include "@components/header/header.twig" %}

<div class="main-bg">
  <main class="main" aria-label="Hlavní obsah">
    {% include "@components/departmentSection/departmentSection.twig" %}

    <section class="juniors-posts">
      <div class="container">
        <div class="row g-lg-5 g-10">
          <div class="col-lg-3 col-sm-6">
            <div class="juniors-posts__item">
              <a href="#" class="juniors-posts__img">
                <img src="images/content/2.png" alt="" />
                <div class="link link--red">Rozhovory</div>
              </a>
              <div class="juniors-posts__date">14. 10. 2023, 17:30</div>
              <a href="#" class="h3">
                Věřím, že zůstaneme pohromadě, přeje si kapitán David Starec
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="juniors-posts__item">
              <a href="#" class="juniors-posts__img">
                <img src="images/content/3.png" alt="" />
                <div class="link link--red">Muži</div>
              </a>
              <div class="juniors-posts__date">14. 10. 2023, 17:30</div>
              <a href="#" class="h3"
                >Jsem rád, že se k hokeji budu moci vrátit</a
              >
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="juniors-posts__item">
              <a href="#" class="juniors-posts__img">
                <img src="images/content/2.png" alt="" />
                <div class="link link--red">Rozhovory</div>
              </a>
              <div class="juniors-posts__date">14. 10. 2023, 17:30</div>
              <a href="#" class="h3">
                Věřím, že zůstaneme pohromadě, přeje si kapitán David Starec
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="juniors-posts__item">
              <a href="#" class="juniors-posts__img">
                <img src="images/content/2.png" alt="" />
                <div class="link link--red">Muži</div>
              </a>
              <div class="juniors-posts__date">14. 10. 2023, 17:30</div>
              <a href="#" class="h3">
                Věřím, že zůstaneme pohromadě, přeje si kapitán David Starec
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <div class="juniors-partners">
    <div class="container">
      <div class="juniors-partners__inner">
        <h2 class="h2 text-center mb-10">Partneři oddílu</h2>
        <div
          class="row justify-content/juniors-center align-items-center juniors-partners__slider"
        >
          <div class="col-12 col-md-3 text-center">
            <a class="juniors-partners__item" href="#">
              <img
                src="images/content/juniors/partner-1.png"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="col-12 col-md-3 text-center">
            <a class="juniors-partners__item" href="#">
              <img
                src="images/content/juniors/partner-2.png"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="col-12 col-md-3 text-center">
            <a class="juniors-partners__item" href="#">
              <img
                src="images/content/juniors/partner-3.png"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="col-12 col-md-3 text-center">
            <a class="juniors-partners__item" href="#">
              <img
                src="images/content/juniors/partner-4.png"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="col-12 col-md-3 text-center">
            <a class="juniors-partners__item" href="#">
              <img
                src="images/content/juniors/partner-5.png"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="col-12 col-md-3 text-center">
            <a class="juniors-partners__item" href="#">
              <img
                src="images/content/juniors/partner-6.png"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="col-12 col-md-3 text-center">
            <a class="juniors-partners__item" href="#">
              <img
                src="images/content/juniors/partner-1.png"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="col-12 col-md-3 text-center">
            <a class="juniors-partners__item" href="#">
              <img
                src="images/content/juniors/partner-2.png"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="col-12 col-md-3 text-center">
            <a class="juniors-partners__item" href="#">
              <img
                src="images/content/juniors/partner-3.png"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="col-12 col-md-3 text-center">
            <a class="juniors-partners__item" href="#">
              <img
                src="images/content/juniors/partner-4.png"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="col-12 col-md-3 text-center">
            <a class="juniors-partners__item" href="#">
              <img
                src="images/content/juniors/partner-5.png"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="col-12 col-md-3 text-center">
            <a class="juniors-partners__item" href="#">
              <img
                src="images/content/juniors/partner-6.png"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "@components/departments/departments.twig" %}
</div>
{% endblock %}
