{% extends "@components/base/base.twig" %} {% set title = "15.0_team" %} {%
block main %} {% include "@components/header/header.twig" %}

<div class="main-bg">
  <main class="main" aria-label="Hlavní obsah">
    <section class="juniors-posts">
      <div class="container">
        <div class="row g-lg-5 g-10">
          <div class="col-lg-3 col-sm-6">
            <div class="juniors-posts__item">
              <a href="#" class="juniors-posts__img">
                <img src="images/content/2.png" alt="" />
                <div class="link link--red">Rozhovory</div>
              </a>
              <div class="juniors-posts__date">14. 10. 2023, 17:30</div>
              <a href="#" class="h3">
                Věřím, že zůstaneme pohromadě, přeje si kapitán David Starec
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="juniors-posts__item">
              <a href="#" class="juniors-posts__img">
                <img src="images/content/3.png" alt="" />
                <div class="link link--red">Muži</div>
              </a>
              <div class="juniors-posts__date">14. 10. 2023, 17:30</div>
              <a href="#" class="h3"
                >Jsem rád, že se k hokeji budu moci vrátit</a
              >
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="juniors-posts__item">
              <a href="#" class="juniors-posts__img">
                <img src="images/content/2.png" alt="" />
                <div class="link link--red">Rozhovory</div>
              </a>
              <div class="juniors-posts__date">14. 10. 2023, 17:30</div>
              <a href="#" class="h3">
                Věřím, že zůstaneme pohromadě, přeje si kapitán David Starec
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="juniors-posts__item">
              <a href="#" class="juniors-posts__img">
                <img src="images/content/2.png" alt="" />
                <div class="link link--red">Muži</div>
              </a>
              <div class="juniors-posts__date">14. 10. 2023, 17:30</div>
              <a href="#" class="h3">
                Věřím, že zůstaneme pohromadě, přeje si kapitán David Starec
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="teamPage">
      <div class="container">
        <div class="departmentSectionBoard mx-auto">
          <ul class="departmentSectionBoard__cols">
            <li class="departmentSectionBoard__col">
              <h2 class="h2 mb-4">Poslední zápas</h2>
              <div class="departmentSectionBoard__col-content">
                <div class="scoreboard__box">
                  <div class="scoreboard__item">
                    <div class="scoreboard__img">
                      <img
                        src="images/content/club/1.png"
                        loading="lazy"
                        alt="logo"
                      />
                    </div>
                    <div class="scoreboard__content">
                      <div class="scoreboard__date">19. KOLO, Krajská liga</div>
                      <div class="scoreboard__info">
                        <div class="scoreboard__team">
                          <span> HC Lev Benešov </span>
                          <span>HC Spartak Žebrák</span>
                        </div>
                        <a href="#" class="scoreboard__result win"> 4:3 </a>
                      </div>
                      <ul class="scoreboard__links">
                        <li>
                          <a href="#" class="link link--red">Report utkání</a>
                        </li>
                        <li>
                          <a href="#" class="link link--red">Onlajn</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <a href="#" class="departmentSectionBoard__col-link">
                Všechny zápasy
              </a>
            </li>
            <li class="departmentSectionBoard__col">
              <h2 class="h2 mb-4">Tabulka soutěže</h2>
              <div class="departmentSectionBoard__col-content">
                <div class="o-content">
                  <table>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>TJ Sokol Slavojnovice</td>
                        <td>20</td>
                        <td>52</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>TJ Sokol Vejprnice</td>
                        <td>20</td>
                        <td>52</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>TJ Sokol Slavojnovice B</td>
                        <td>20</td>
                        <td>52</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <a href="#" class="departmentSectionBoard__col-link">
                Kompletní tabulka
              </a>
            </li>
            <li class="departmentSectionBoard__col">
              <h2 class="h2 mb-4">Příští zápas</h2>
              <div class="departmentSectionBoard__col-content">
                <div class="scoreboard__box">
                  <div class="scoreboard__item">
                    <div class="scoreboard__img">
                      <img
                        src="images/content/club/3.png"
                        loading="lazy"
                        alt="logo"
                      />
                    </div>
                    <div class="scoreboard__content">
                      <div class="scoreboard__date">19. KOLO, Krajská liga</div>
                      <div class="scoreboard__info">
                        <div class="scoreboard__team">
                          <span>SK Černošice </span>
                          <span> HC Lev Benešov </span>
                        </div>
                        <a href="#" class="scoreboard__result">
                          st 19. 4. 17:00
                        </a>
                      </div>
                      <ul class="scoreboard__links">
                        <li>
                          <a href="#" class="link link--red">Onlajn</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <a href="#" class="departmentSectionBoard__col-link">
                Všechny zápasy
              </a>
            </li>
          </ul>
        </div>
        <div class="players-section__box">
          <h2 class="h2 mb-5">Soupiska</h2>
          <div class="row g-10">
            <div class="col-xl-3 col-md-6">
              <div class="newPlayers">
                <a href="#" class="newPlayers__img">
                  <img
                    src=" images/content/test-ava.jpeg"
                    loading="lazy"
                    alt="avatar"
                  />
                </a>
                <div class="newPlayers__box">
                  <a href="#" class="newPlayers__title">Marek Beneš</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="newPlayers">
                <a href="#" class="newPlayers__img">
                  <img
                    src=" images/content/test-ava.jpeg"
                    loading="lazy"
                    alt="avatar"
                  />
                </a>
                <div class="newPlayers__box">
                  <a href="#" class="newPlayers__title">Petr Brautferger</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="newPlayers">
                <a href="#" class="newPlayers__img">
                  <img
                    src=" images/content/test-ava.jpeg"
                    loading="lazy"
                    alt="avatar"
                  />
                </a>
                <div class="newPlayers__box">
                  <a href="#" class="newPlayers__title">Martin Šindelář</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="newPlayers">
                <a href="#" class="newPlayers__img">
                  <img
                    src=" images/content/test-ava.jpeg"
                    loading="lazy"
                    alt="avatar"
                  />
                </a>
                <div class="newPlayers__box">
                  <a href="#" class="newPlayers__title">Marek Beneš</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="newPlayers">
                <a href="#" class="newPlayers__img">
                  <img
                    src=" images/content/test-ava.jpeg"
                    loading="lazy"
                    alt="avatar"
                  />
                </a>
                <div class="newPlayers__box">
                  <a href="#" class="newPlayers__title">Petr Brautferger</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="newPlayers">
                <a href="#" class="newPlayers__img">
                  <img
                    src=" images/content/test-ava.jpeg"
                    loading="lazy"
                    alt="avatar"
                  />
                </a>
                <div class="newPlayers__box">
                  <a href="#" class="newPlayers__title">Martin Šindelář</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="newPlayers">
                <a href="#" class="newPlayers__img">
                  <img
                    src=" images/content/test-ava.jpeg"
                    loading="lazy"
                    alt="avatar"
                  />
                </a>
                <div class="newPlayers__box">
                  <a href="#" class="newPlayers__title">Marek Beneš</a>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6">
              <div class="newPlayers">
                <a href="#" class="newPlayers__img">
                  <img
                    src=" images/content/test-ava.jpeg"
                    loading="lazy"
                    alt="avatar"
                  />
                </a>
                <div class="newPlayers__box">
                  <a href="#" class="newPlayers__title">David Šimek</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="newPlayers">
                <a href="#" class="newPlayers__img">
                  <img
                    src=" images/content/test-ava.jpeg"
                    loading="lazy"
                    alt="avatar"
                  />
                </a>
                <div class="newPlayers__box">
                  <a href="#" class="newPlayers__title">Marek Beneš</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="newPlayers">
                <a href="#" class="newPlayers__img">
                  <img
                    src=" images/content/test-ava.jpeg"
                    loading="lazy"
                    alt="avatar"
                  />
                </a>
                <div class="newPlayers__box">
                  <a href="#" class="newPlayers__title">Petr Brautferger</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="newPlayers">
                <a href="#" class="newPlayers__img">
                  <img
                    src=" images/content/test-ava.jpeg"
                    loading="lazy"
                    alt="avatar"
                  />
                </a>
                <div class="newPlayers__box">
                  <a href="#" class="newPlayers__title">Martin Šindelář</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="newPlayers">
                <a href="#" class="newPlayers__img">
                  <img
                    src=" images/content/test-ava.jpeg"
                    loading="lazy"
                    alt="avatar"
                  />
                </a>
                <div class="newPlayers__box">
                  <a href="#" class="newPlayers__title">Marek Beneš</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="newPlayers">
                <a href="#" class="newPlayers__img">
                  <img
                    src=" images/content/test-ava.jpeg"
                    loading="lazy"
                    alt="avatar"
                  />
                </a>
                <div class="newPlayers__box">
                  <a href="#" class="newPlayers__title">Petr Brautferger</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="newPlayers">
                <a href="#" class="newPlayers__img">
                  <img
                    src=" images/content/test-ava.jpeg"
                    loading="lazy"
                    alt="avatar"
                  />
                </a>
                <div class="newPlayers__box">
                  <a href="#" class="newPlayers__title">Martin Šindelář</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="newPlayers">
                <a href="#" class="newPlayers__img">
                  <img
                    src=" images/content/test-ava.jpeg"
                    loading="lazy"
                    alt="avatar"
                  />
                </a>
                <div class="newPlayers__box">
                  <a href="#" class="newPlayers__title">Marek Beneš</a>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6">
              <div class="newPlayers">
                <a href="#" class="newPlayers__img">
                  <img
                    src=" images/content/test-ava.jpeg"
                    loading="lazy"
                    alt="avatar"
                  />
                </a>
                <div class="newPlayers__box">
                  <a href="#" class="newPlayers__title">David Šimek</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="newPlayers">
                <a href="#" class="newPlayers__img">
                  <img
                    src=" images/content/test-ava.jpeg"
                    loading="lazy"
                    alt="avatar"
                  />
                </a>
                <div class="newPlayers__box">
                  <a href="#" class="newPlayers__title">Marek Beneš</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="newPlayers">
                <a href="#" class="newPlayers__img">
                  <img
                    src=" images/content/test-ava.jpeg"
                    loading="lazy"
                    alt="avatar"
                  />
                </a>
                <div class="newPlayers__box">
                  <a href="#" class="newPlayers__title">Petr Brautferger</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="newPlayers">
                <a href="#" class="newPlayers__img">
                  <img
                    src=" images/content/test-ava.jpeg"
                    loading="lazy"
                    alt="avatar"
                  />
                </a>
                <div class="newPlayers__box">
                  <a href="#" class="newPlayers__title">Martin Šindelář</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="newPlayers">
                <a href="#" class="newPlayers__img">
                  <img
                    src=" images/content/test-ava.jpeg"
                    loading="lazy"
                    alt="avatar"
                  />
                </a>
                <div class="newPlayers__box">
                  <a href="#" class="newPlayers__title">Marek Beneš</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="newPlayers">
                <a href="#" class="newPlayers__img">
                  <img
                    src=" images/content/test-ava.jpeg"
                    loading="lazy"
                    alt="avatar"
                  />
                </a>
                <div class="newPlayers__box">
                  <a href="#" class="newPlayers__title">Petr Brautferger</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="newPlayers">
                <a href="#" class="newPlayers__img">
                  <img
                    src=" images/content/test-ava.jpeg"
                    loading="lazy"
                    alt="avatar"
                  />
                </a>
                <div class="newPlayers__box">
                  <a href="#" class="newPlayers__title">Martin Šindelář</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="newPlayers">
                <a href="#" class="newPlayers__img">
                  <img
                    src=" images/content/test-ava.jpeg"
                    loading="lazy"
                    alt="avatar"
                  />
                </a>
                <div class="newPlayers__box">
                  <a href="#" class="newPlayers__title">Marek Beneš</a>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6">
              <div class="newPlayers">
                <a href="#" class="newPlayers__img">
                  <img
                    src=" images/content/test-ava.jpeg"
                    loading="lazy"
                    alt="avatar"
                  />
                </a>
                <div class="newPlayers__box">
                  <a href="#" class="newPlayers__title">David Šimek</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="newPlayers">
                <a href="#" class="newPlayers__img">
                  <img
                    src=" images/content/test-ava.jpeg"
                    loading="lazy"
                    alt="avatar"
                  />
                </a>
                <div class="newPlayers__box">
                  <a href="#" class="newPlayers__title">Marek Beneš</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="newPlayers">
                <a href="#" class="newPlayers__img">
                  <img
                    src=" images/content/test-ava.jpeg"
                    loading="lazy"
                    alt="avatar"
                  />
                </a>
                <div class="newPlayers__box">
                  <a href="#" class="newPlayers__title">Petr Brautferger</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="newPlayers">
                <a href="#" class="newPlayers__img">
                  <img
                    src=" images/content/test-ava.jpeg"
                    loading="lazy"
                    alt="avatar"
                  />
                </a>
                <div class="newPlayers__box">
                  <a href="#" class="newPlayers__title">Martin Šindelář</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="newPlayers">
                <a href="#" class="newPlayers__img">
                  <img
                    src=" images/content/test-ava.jpeg"
                    loading="lazy"
                    alt="avatar"
                  />
                </a>
                <div class="newPlayers__box">
                  <a href="#" class="newPlayers__title">Marek Beneš</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="newPlayers">
                <a href="#" class="newPlayers__img">
                  <img
                    src=" images/content/test-ava.jpeg"
                    loading="lazy"
                    alt="avatar"
                  />
                </a>
                <div class="newPlayers__box">
                  <a href="#" class="newPlayers__title">Petr Brautferger</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="newPlayers">
                <a href="#" class="newPlayers__img">
                  <img
                    src=" images/content/test-ava.jpeg"
                    loading="lazy"
                    alt="avatar"
                  />
                </a>
                <div class="newPlayers__box">
                  <a href="#" class="newPlayers__title">Martin Šindelář</a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="newPlayers">
                <a href="#" class="newPlayers__img">
                  <img
                    src=" images/content/test-ava.jpeg"
                    loading="lazy"
                    alt="avatar"
                  />
                </a>
                <div class="newPlayers__box">
                  <a href="#" class="newPlayers__title">Marek Beneš</a>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6">
              <div class="newPlayers">
                <a href="#" class="newPlayers__img">
                  <img
                    src=" images/content/test-ava.jpeg"
                    loading="lazy"
                    alt="avatar"
                  />
                </a>
                <div class="newPlayers__box">
                  <a href="#" class="newPlayers__title">David Šimek</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div class="juniors-partners">
    <div class="container">
      <div class="juniors-partners__inner">
        <h2 class="h2 text-center mb-10">Partneři oddílu</h2>
        <div
          class="row justify-content/juniors-center align-items-center juniors-partners__slider"
        >
          <div class="col-12 col-md-3 text-center">
            <a class="juniors-partners__item" href="#">
              <img
                src="images/content/juniors/partner-1.png"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="col-12 col-md-3 text-center">
            <a class="juniors-partners__item" href="#">
              <img
                src="images/content/juniors/partner-2.png"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="col-12 col-md-3 text-center">
            <a class="juniors-partners__item" href="#">
              <img
                src="images/content/juniors/partner-3.png"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="col-12 col-md-3 text-center">
            <a class="juniors-partners__item" href="#">
              <img
                src="images/content/juniors/partner-4.png"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="col-12 col-md-3 text-center">
            <a class="juniors-partners__item" href="#">
              <img
                src="images/content/juniors/partner-5.png"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="col-12 col-md-3 text-center">
            <a class="juniors-partners__item" href="#">
              <img
                src="images/content/juniors/partner-6.png"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="col-12 col-md-3 text-center">
            <a class="juniors-partners__item" href="#">
              <img
                src="images/content/juniors/partner-1.png"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="col-12 col-md-3 text-center">
            <a class="juniors-partners__item" href="#">
              <img
                src="images/content/juniors/partner-2.png"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="col-12 col-md-3 text-center">
            <a class="juniors-partners__item" href="#">
              <img
                src="images/content/juniors/partner-3.png"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="col-12 col-md-3 text-center">
            <a class="juniors-partners__item" href="#">
              <img
                src="images/content/juniors/partner-4.png"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="col-12 col-md-3 text-center">
            <a class="juniors-partners__item" href="#">
              <img
                src="images/content/juniors/partner-5.png"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
          <div class="col-12 col-md-3 text-center">
            <a class="juniors-partners__item" href="#">
              <img
                src="images/content/juniors/partner-6.png"
                loading="lazy"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "@components/departments/departments.twig" %}
</div>
{% endblock %}
