<section class="gallery-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-10 m-auto">
        <h1 class="h1 mb-6">Fotogalerie</h1>
        <div class="juniors-posts">
          <div class="row g-5">
            <div class="col-lg-4 col-md-6">
              <div class="juniors-posts__item">
                <a
                  data-source="/tj_sokol_vejprnice/build/ajax-gallery.json"
                  data-gallery-id="6"
                  href="#"
                  class="juniors-posts__img"
                >
                  <img src="images/content/2.png" alt="" />
                </a>
                <div class="juniors-posts__date">14. 10. 2023, 17:30</div>
                <a
                  data-source="/tj_sokol_vejprnice/build/ajax-gallery.json"
                  data-gallery-id="6"
                  href="#"
                  class="h3"
                >
                  Věřím, že zůstaneme pohromadě, přeje si kapitán David Starec
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="juniors-posts__item">
                <a
                  data-source="/tj_sokol_vejprnice/build/ajax-gallery.json"
                  data-gallery-id="5"
                  href="#"
                  class="juniors-posts__img"
                >
                  <img src="images/content/3.png" alt="" />
                </a>
                <div class="juniors-posts__date">14. 10. 2023, 17:30</div>
                <a
                  data-source="/tj_sokol_vejprnice/build/ajax-gallery.json"
                  data-gallery-id="5"
                  href="#"
                  class="h3"
                  >Jsem rád, že se k hokeji budu moci vrátit</a
                >
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="juniors-posts__item">
                <a
                  data-source="/tj_sokol_vejprnice/build/ajax-gallery.json"
                  data-gallery-id="3"
                  href="#"
                  class="juniors-posts__img"
                >
                  <img src="images/content/2.png" alt="" />
                </a>
                <div class="juniors-posts__date">14. 10. 2023, 17:30</div>
                <a
                  data-source="/tj_sokol_vejprnice/build/ajax-gallery.json"
                  data-gallery-id="3"
                  href="#"
                  class="h3"
                >
                  Věřím, že zůstaneme pohromadě, přeje si kapitán David Starec
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="juniors-posts__item">
                <a
                  data-source="/tj_sokol_vejprnice/build/ajax-gallery.json"
                  data-gallery-id="6"
                  href="#"
                  class="juniors-posts__img"
                >
                  <img src="images/content/2.png" alt="" />
                </a>
                <div class="juniors-posts__date">14. 10. 2023, 17:30</div>
                <a
                  data-source="/tj_sokol_vejprnice/build/ajax-gallery.json"
                  data-gallery-id="6"
                  href="#"
                  class="h3"
                >
                  Věřím, že zůstaneme pohromadě, přeje si kapitán David Starec
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="juniors-posts__item">
                <a
                  data-source="/tj_sokol_vejprnice/build/ajax-gallery.json"
                  data-gallery-id="5"
                  href="#"
                  class="juniors-posts__img"
                >
                  <img src="images/content/3.png" alt="" />
                </a>
                <div class="juniors-posts__date">14. 10. 2023, 17:30</div>
                <a
                  data-source="/tj_sokol_vejprnice/build/ajax-gallery.json"
                  data-gallery-id="5"
                  href="#"
                  class="h3"
                  >Jsem rád, že se k hokeji budu moci vrátit</a
                >
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="juniors-posts__item">
                <a
                  data-source="/tj_sokol_vejprnice/build/ajax-gallery.json"
                  data-gallery-id="3"
                  href="#"
                  class="juniors-posts__img"
                >
                  <img src="images/content/2.png" alt="" />
                </a>
                <div class="juniors-posts__date">14. 10. 2023, 17:30</div>
                <a
                  data-source="/tj_sokol_vejprnice/build/ajax-gallery.json"
                  data-gallery-id="3"
                  href="#"
                  class="h3"
                >
                  Věřím, že zůstaneme pohromadě, přeje si kapitán David Starec
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="juniors-posts__item">
                <a
                  data-source="/tj_sokol_vejprnice/build/ajax-gallery.json"
                  data-gallery-id="6"
                  href="#"
                  class="juniors-posts__img"
                >
                  <img src="images/content/2.png" alt="" />
                </a>
                <div class="juniors-posts__date">14. 10. 2023, 17:30</div>
                <a
                  data-source="/tj_sokol_vejprnice/build/ajax-gallery.json"
                  data-gallery-id="6"
                  href="#"
                  class="h3"
                >
                  Věřím, že zůstaneme pohromadě, přeje si kapitán David Starec
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="juniors-posts__item">
                <a
                  data-source="/tj_sokol_vejprnice/build/ajax-gallery.json"
                  data-gallery-id="5"
                  href="#"
                  class="juniors-posts__img"
                >
                  <img src="images/content/3.png" alt="" />
                </a>
                <div class="juniors-posts__date">14. 10. 2023, 17:30</div>
                <a
                  data-source="/tj_sokol_vejprnice/build/ajax-gallery.json"
                  data-gallery-id="5"
                  href="#"
                  class="h3"
                  >Jsem rád, že se k hokeji budu moci vrátit</a
                >
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="juniors-posts__item">
                <a
                  data-source="/tj_sokol_vejprnice/build/ajax-gallery.json"
                  data-gallery-id="3"
                  href="#"
                  class="juniors-posts__img"
                >
                  <img src="images/content/2.png" alt="" />
                </a>
                <div class="juniors-posts__date">14. 10. 2023, 17:30</div>
                <a
                  data-source="/tj_sokol_vejprnice/build/ajax-gallery.json"
                  data-gallery-id="3"
                  href="#"
                  class="h3"
                >
                  Věřím, že zůstaneme pohromadě, přeje si kapitán David Starec
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="juniors-posts__item">
                <a
                  data-source="/tj_sokol_vejprnice/build/ajax-gallery.json"
                  data-gallery-id="3"
                  href="#"
                  class="juniors-posts__img"
                >
                  <img src="images/content/2.png" alt="" />
                </a>
                <div class="juniors-posts__date">14. 10. 2023, 17:30</div>
                <a
                  data-source="/tj_sokol_vejprnice/build/ajax-gallery.json"
                  data-gallery-id="3"
                  href="#"
                  class="h3"
                >
                  Věřím, že zůstaneme pohromadě, přeje si kapitán David Starec
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="juniors-posts__item">
                <a
                  data-source="/tj_sokol_vejprnice/build/ajax-gallery.json"
                  data-gallery-id="3"
                  href="#"
                  class="juniors-posts__img"
                >
                  <img src="images/content/2.png" alt="" />
                </a>
                <div class="juniors-posts__date">14. 10. 2023, 17:30</div>
                <a
                  data-source="/tj_sokol_vejprnice/build/ajax-gallery.json"
                  data-gallery-id="3"
                  href="#"
                  class="h3"
                >
                  Věřím, že zůstaneme pohromadě, přeje si kapitán David Starec
                </a>
              </div>
            </div>
          </div>
          <nav aria-label="Další stránky">
            <ul
              class="pagination d-flex flex-wrap pagination-flat pagination-success"
            >
              <li class="page-item active">
                <a class="page-link" href="#" data-abc="true">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" data-abc="true">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" data-abc="true">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" data-abc="true">4</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" data-abc="true"> »</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
